<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/portal-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP</title>
</head>
<body>
<div layout:fragment="content" class="main-inner order">
    <input type="hidden" th:value="${shop.id}" name="shopId">

    <ul class="order-header">
        <li class="order-header--item jsStatus active" data-status-id="0">
            <p>Tất cả</p>
        </li>
        <li class="order-header--item jsStatus" data-status-id="1">
            <p>Chờ xác nhận</p>
        </li>
        <li class="order-header--item jsStatus" data-status-id="2">
            <p>Chờ lấy hàng</p>
        </li>
        <li class="order-header--item jsStatus" data-status-id="3">
            <p>Đang giao</p>
        </li>
        <li class="order-header--item jsStatus" data-status-id="4">
            <p>Đã giao</p>
        </li>
        <!--        <li class="order-header&#45;&#45;item">-->
        <!--            <p>Đơn hủy</p>-->
        <!--        </li>-->
        <!--        <li class="order-header&#45;&#45;item">-->
        <!--            <p>Trả hàng/Hoàn tiền</p>-->
        <!--        </li>-->
        <li class="order-header--bar"></li>
    </ul>
    <div class="order-block order-block__date">
        <label for="date" class="txt">Ngày đặt hàng</label>
        <input id="date" type="text" name="date" class="jsDateRangePicker ipt">
    </div>
    <div class="order-block order-block__name">
        <div class="select">
            <select name="type" id="" class="jsFilterBy">
                <option value="1" selected>Mã đơn hàng</option>
                <option value="2">Tên người mua</option>
                <option value="3">Sản phẩm</option>
            </select>
        </div>
        <input class="ipt jsName" type="text">
        <button class="btn submit btn__primary jsSubmit">Tìm kiếm</button>
        <button class="btn clear btn__white jsClear">Đặt lại</button>
    </div>
    <p class="order-block order-block__count">0 Đơn Hàng</p>
    <div class="order-block order-block__table">
        <div class="table-header">
            <div class="table-col table-col__name">
                <p>Sản phẩm</p>
            </div>
            <div class="table-col table-col__price">
                <p>Tổng đơn hàng</p>
            </div>
            <div class="table-col table-col__date">
                <p>Thời gian tạo</p>
            </div>
            <div class="table-col table-col__status">
                <p>Thạng thái</p>
            </div>
            <div class="table-col table-col__action">
                <p>Thao tác</p>
            </div>
        </div>
        <ul class="table-body jsContainer"></ul>
    </div>


    <script type="text/html" id="templateTable">
        <li className="table-body--row">
            <div className="table-body--row-header">
                <p className="avatar circle"><img src="/assets/img/common/img_default_user.png" alt=""></p>
                <p className="name">[Buyer Name]</p>
                <p className="order-info">ID đơn hàng: <span>[Order Id]</span></p>
            </div>
            <ul className="table-body--row-list">
                <li className="table-body--row-item">
                    <div className="table-col table-col__name">
                        <img src="/assets/img/products/product_01.jpg" alt="">
                        <div className="info">
                            <p className="txt">Đây là 1 cái tên thật dài cmnl Đây là 1 cái tên thật dài cmnl
                                Đây là
                                1 cái tên thật dài cmnl Đây là 1 cái tên thật dài cmnl Đây là 1 cái tên thật
                                dài
                                cmnl Đây là 1 cái tên thật dài cmnl Đây là 1 cái tên thật dài cmnl Đây là 1
                                cái
                                tên thật dài cmnl
                            </p>
                            <p className="number">x99</p>
                        </div>
                    </div>
                    <div className="table-col table-col__price">
                        <p>900.000.000 vnđ</p>
                    </div>
                    <div className="table-col table-col__date">
                        <p>[Date Order]</p>
                        <p>[Time Order]</p>
                    </div>
                    <div className="table-col table-col__status">
                        [Order Status]
                    </div>
                    <div className="table-col table-col__action">
                        <a href="javascript: void(0);">[Next update status order]</a>
                    </div>
                </li>
                <li className="table-body--row-item">
                    <div className="table-col table-col__name">
                        <img src="/assets/img/products/product_02.jpg" alt="">
                        <div className="info">
                            <p className="txt">Đây là 1 cái</p>
                            <p className="number">x1</p>
                        </div>
                    </div>
                    <div className="table-col table-col__price">
                        <p>900.000.000 vnđ</p>
                    </div>
                    <div className="table-col table-col__date">
                        <p>00-00-0000</p>
                        <p>00:00</p>
                    </div>
                    <div className="table-col table-col__status">
                        [Order Status]
                    </div>
                    <div className="table-col table-col__action">
                        <a href="javascript: void(0);">[Next update status order]</a>
                    </div>
                </li>
                <li className="table-body--row-item">
                    <div className="table-col table-col__name">
                        <img src="/assets/img/products/product_02.jpg" alt="">
                        <div className="info">
                            <p className="txt">Đây là 1 cái Đây là 1 cái Đây là 1 cái Đây là 1 cái Đây là 1
                                cái Đây
                                là 1 cái Đây là 1 cái</p>
                            <p className="number">x1</p>
                        </div>
                    </div>
                    <div className="table-col table-col__price">
                        <p>900.000.000 vnđ</p>
                    </div>
                    <div className="table-col table-col__date">
                        <p>00-00-0000</p>
                        <p>00:00</p>
                    </div>
                    <div className="table-col table-col__status">
                        [Order Status]
                    </div>
                    <div className="table-col table-col__action">
                        <a href="javascript: void(0);">[Next update status order]</a>
                    </div>
                </li>
            </ul>
        </li>
    </script>
</div>

<script layout:fragment="script">
    $(function () {
        function setActive(ele) {
            const width = $(ele).outerWidth();
            const position = $(ele).position();

            $('.order-header--bar').css({
                width,
                transform: `translateX(${position.left}px)`
            });
        }

        function setFilter() {
            const date = $('input[name="date"]').val().match(/.+(?=\s\-\s)|(?<=\s\-\s).+/gm);
            filter = {
                statusId: $('.jsStatus.active')[0].dataset.statusId,
                filterBy: $('.jsFilterBy').val(),
                name: $('.jsName').val(),
                minDate: date[0],
                maxDate: date[1],
            }
        }

        function renderOrder() {
            setFilter();
            setGlobalLoading(true);
            const shopId = $('input[name="shopId"]').val();
            $.ajax({
                url: `${window.location.protocol}//${window.location.host}/api/shop/${shopId}/order`,
                cache: false,
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify(filter),
                success: function (orders) {
                    let htmlText = "";
                    orders.forEach((order) => {
                        console.log(order)

                        htmlText += `<li className="table-body--row">` +
                            `<div className="table-body--row-header">` +
                            `<p className="avatar circle"><img src="/assets/img/common/img_default_user.png" alt=""></p>` +
                            `<p className="name">[Buyer Name]</p>` +
                            `<p className="order-info">ID đơn hàng: <span>${order.id}</span></p>` +
                            `</div>` +
                            `<ul className="table-body--row-list">` +

                            `<li className="table-body--row-item">` +
                            `<div className="table-col table-col__name">` +
                            `<img src="/assets/img/products/product_01.jpg" alt="">` +
                            `<div className="info">` +
                            `<p className="txt">Đây là 1 cái tên thật dài cmnl Đây là 1 cái tên thật dài cmnl` +
                            `</p>` +
                            `<p className="number">x99</p>` +
                            `</div>` +
                            `</div>` +
                            `<div className="table-col table-col__price">` +
                            `<p>900.000.000 vnđ</p>` +
                            `</div>` +
                            `<div className="table-col table-col__date">` +
                            `<p>[Date Order]</p>` +
                            `<p>[Time Order]</p>` +
                            `</div>` +
                            `<div className="table-col table-col__status">` +
                            `[Order Status]` +
                            `</div>` +
                            `<div className="table-col table-col__action">` +
                            `<a href="javascript: void(0);">[Next update status order]</a>` +
                            `</div>` +
                            `</li>` +

                            `</ul>` +
                            `</li>`;
                    })

                    setGlobalLoading(false);
                },
                error: function (xhr, error, response) {
                    console.log({xhr, error, response});
                    setGlobalLoading(false);
                },
            });
        }

            let filter = {};

        setActive($('.jsStatus')[0]);
        renderOrder();

        $('.jsStatus').on('click', function () {
            $('.jsStatus').removeClass('active');
            $(this).addClass('active');
            setActive(this);
        })

        $('.jsSubmit').on('click', function () {
            renderOrder();
        })
    });
</script>
</body>
</html>