<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/portal-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP</title>
</head>
<body>
<div layout:fragment="content">
    <div class="main-inner">
        <div class="product-search">
            <div class="product-search-item product-search-item__name">
                <div class="select">
                    <select name="filterBy" id="">
                        <option value="1" selected>Tên sản phẩm</option>
                        <option value="2">Mã sản phẩm</option>
                    </select>
                </div>
                <input type="text" name="name" placeholder="Nhập vào">
            </div>
            <div class="product-search-item product-search-item__category">
                <label>Danh mục</label>
                <div class="select">
                    <select name="categoryId">
                        <option value="0" selected>Tất cả</option>
                        <option th:each="category : ${categories}" th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select>
                </div>
            </div>
            <div class="product-search-item product-search-item__submit">
                <button class="jsSubmit btn btn__primary">Tìm</button>
            </div>
        </div>
    </div>
    <div class="main-inner product">
        <ul class="portal-category">
            <li data-value="0" class="jsStatus portal-category--item active">
                <p>Tất cả</p>
            </li>
            <li data-value="1" class="jsStatus portal-category--item">
                <p>Đang hoạt động</p>
            </li>
            <li data-value="2" class="jsStatus portal-category--item">
                <p>Hêt hàng</p>
            </li>
            <li class="portal-category--bar"></li>
        </ul>
        <div class="product-body">
            <div class="product-block">
                <div class="product-count">
                    <p class="txt01"><span class="jsCount" th:attr="data-value=${shop.countProducts}"
                                           th:text="${shop.countProducts}">1000</span> Sản phẩm</p>
                    <div class="percent-container">
                        <span class="jsPercent percent"></span>
                    </div>
                    <p class="txt02">Có thể đăng tải thêm 100 sản phẩm</p>
                </div>
                <div class="product-widget">
                    <a href="/portal/product/create">
                        <button class="btn btn__primary product-widget--create"><i
                                class="icon icon__left fas fa-plus"></i>Thểm
                            1 sản phẩm mới
                        </button>
                    </a>
                </div>
            </div>
            <div class="product-table">
                <div class="product-table-body">
                    <div class="product-row">
                        <div class="product-row--item product-row--item__name">
                            <p class="pic"><img src="/assets/img/products/product_01.jpg" alt=""></p>
                            <p class="text">Đây là 1 cái tên thật dài cmnl Đây là 1 cái tên thật dài cmnl Đây là 1 cái
                                tên thật dài cmnl Đây là 1 cái tên thật dài cmnl Đây là 1 cái tên thật dài cmnl Đây là 1
                                cái tên thật dài cmnl Đây là 1 cái tên thật dài cmnl Đây là 1 cái tên thật dài cmnl</p>
                        </div>
                        <div class="product-row--item product-row--item__category">
                            <p>Danh mụSDAc ASD</p>
                        </div>
                        <div class="product-row--item product-row--item__price">
                            <p>999.999.999 vnđ</p>
                        </div>
                        <div class="product-row--item product-row--item__sale">
                            <p>12000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script">
    $(function () {
        const maxCountProduct = 100;
        const currentCount = $('.jsCount').attr('data-value');

        function setActive(ele) {
            const width = $(ele).outerWidth();
            const position = $(ele).position();

            $('.portal-category--item').removeClass('active');
            $(ele).addClass('active');

            $('.portal-category--bar').css({
                width,
                transform: `translateX(${position.left}px)`
            });
        }

        setActive(document.querySelector('.portal-category--item.active'));


        $('.jsPercent').css({width: `${Math.max(currentCount * 100 / maxCountProduct, 10)}%`});

        $('.portal-category--item').on('click', function () {
            setActive(this);
        })

        $('.jsSubmit').on('click', function (e) {
            e.preventDefault();
            setGlobalLoading(true);

            const filterBy = $('[name="filterBy"]').val();
            const name = $('[name="name"]').val();
            const categoryId = $('[name="categoryId"]').val();
            const status = $('.jsStatus.active').attr('data-value');

            console.log({filterBy, name, categoryId, status});

            $.ajax({
                url: `${window.location.protocol}//${window.location.host}/api/products/portal`,
                cache: false,
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify({filterBy, name, categoryId, status}),
                success: function (products) {
                    console.log(products);
                    let html = "";

                    products.forEach(product => {
                        html += `<div class="product-row">` +
                            `<div class="product-row--item product-row--item__name">` +
                            `<p class="pic"><img src="${product.image}" alt=""></p>` +
                            `<p class="text">${product.name}</p>` +
                            `</div>` +
                            `<div class="product-row--item product-row--item__category">` +
                            `<p>${product.category.name}</p>` +
                            `</div>` +
                            `<div class="product-row--item product-row--item__price">` +
                            `<p>${product.price} vnđ</p>` +
                            `</div>` +
                            `<div class="product-row--item product-row--item__sale">` +
                            `<p>12000</p>` +
                            `</div>` +
                            `</div>`;
                    })

                    $('.product-table-body').html(html);

                    setGlobalLoading(false);
                },
                error: function (xhr, error, response) {
                    console.log({xhr, error, response});
                    setGlobalLoading(false);
                },
            });
        })
    });
</script>
</body>
</html>