<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/portal-layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${shop == null ? 'Thêm sản phảm' : (shop.name + ' - Sản phẩm')}"></title>
</head>
<body>
<div layout:fragment="content" class="product-create">
    <h3 class="product-create-title">
        <span class="txt01">Sản phẩm mới</span>
        <span class="txt02">Thêm sản phẩm mới vào cửa hàng</span>
        <form class="widget">
            <div th:if="${productForm.id == null || productForm.id == 0}" class="btn btn__red">Ẩn sản phẩm</div>
        </form>
    </h3>
    <form th:object="${productForm}" th:action="@{/portal/product}"
          class="product-create-form" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" name="shopId" th:value="${shop.id}">
        <div class="product-create-form--left">
            <div class="form-item">
                <label class="form-item--left" for="name">Tên sản phẩm</label>
                <div class="form-item--right">
                    <div class="ipt ipt__limit-length">
                        <input type="text" th:field="*{name}" id="name" maxlength="120">
                        <p class="length"><span class="jsCount-name">0</span><span>/120</span></p>
                    </div>
                    <p th:errors="*{name}" class="error">[Error Name]</p>
                </div>
            </div>
            <div class="form-item">
                <label class="form-item--left" for="price">Giá sản phẩm</label>
                <div class="form-item--right">
                    <input type="number" name="price" th:field="*{price}" id="price">
                    <p th:errors="*{price}" class="error">[Error Price]</p>
                </div>
            </div>
            <div class="form-item">
                <label class="form-item--left">Phân loại</label>
                <div class="form-item--right">
                    <div class="select">
                        <select name="categoryId" id="">
                            <option value="0" disabled selected>Phân loại</option>
                            <option th:each="category : ${categories}" th:value="${category.id}"
                                    th:text="${category.name}"
                                    th:selected="${productForm.categoryId == category.id}"
                            ></option>
                        </select>
                    </div>
                    <p th:errors="*{categoryId}" class="error">[Error Category]</p>
                </div>
            </div>
            <div class="form-item">
                <label class="form-item--left" for="description">Mô tả</label>
                <div class="form-item--right">
                    <textarea class="form-item--right" rows="6" cols="20" id="description"
                              th:field="*{description}"></textarea>
                    <p th:errors="*{description}" class="error">[Error Description]</p>
                </div>
            </div>
            <div class="form-item">
                <label class="form-item--left"></label>
                <div class="form-item--right form-item--right__submit">
                    <button type="submit" class="btn btn__primary">Lưu</button>
                </div>
            </div>
        </div>
        <div class="product-create-form--right">
            <p th:errors="*{mapPictures}" class="error jsErrorImages">[Error Images]</p>
            <div class="product-create-form--right-pic-container jsImageContainer">
                <div th:each="pic,iter : ${productForm.image}" class="product-create-form--right-pic"
                     th:attr="data-id=${iter.index}">
                    <img th:src="${productForm.toUrl(pic)}" th:attr="data-id=${iter.index}" alt="">
                    <label>
                        <input class="jsMapImage d-none" type="file"
                               th:attr="data-id=${iter.index}, name=${'mapPictures[' + productForm.getImageName(pic) +']'}">
                    </label>
                    <i th:attr="data-id=${iter.index}" class="icClose fas fa-times"></i>
                </div>
                <div class="product-create-form--right-pic" th:attr="data-id=${productForm.image.size}">
                    <label>
                        <input class="jsMapImage d-none" type="file"
                               th:attr="data-id=${productForm.image.size}, name=${'mapPictures[new-' + productForm.image.size + ']'}">
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>

<script layout:fragment="script">
    const container = $('.jsImageContainer');
    container.on('change', 'input.jsMapImage', function () {
        if (this.files.size == 0) return;

        const id = $(this).attr('data-id');
        const file = this.files[0];
        const item = container.find(`.product-create-form--right-pic[data-id="${id}"]`);
        const img = item.find(`img[data-id=${id}]`);
        const isAddNewImg = img.length === 0;
        img.remove();
        const newItem = item.clone();

        item.prepend(`<img data-id="${id}" src="" alt="">`);
        item.append(`<i data-id="${id}" class="icClose fas fa-times"></i>`);
        const newImg = container.find(`img[data-id="${id}"]`)[0];
        readUrlImage(file, newImg);

        if (isAddNewImg) {
            newItem.find('input[type="file"]')
                .attr('name', `mapPictures[new-${parseInt(id) + 1}]`)
                .attr('data-id', parseInt(id) + 1)
                .val('');
            newItem.attr('data-id', parseInt(id) + 1);
            container.append(newItem);
        }
    })
    container.on('click', '.icClose', function (e) {
        e.preventDefault();
        const item = $(this).parent();
        item.remove();
    })

    document.querySelector('.product-create-form').addEventListener('submit', function (e) {
        e.preventDefault();

        function setErrorImage(mess) {
            const errorImageSpan = $('.jsErrorImages');
            if (errorImageSpan.length) {
                errorImageSpan.text(mess);
            } else {
                $('.product-create-form--right').prepend(`<p class="error jsErrorImages">${mess}</p>`);
            }
        }

        let canSubmit = true;

        const imageFiles = $('input.jsMapImage');
        if (imageFiles.length <= 1) {
            canSubmit = false;
            setErrorImage("Sản phẩm phải có ít nhất 1 ảnh.");
        }
        imageFiles.each((index, fileInput) => {
            const file = fileInput.files[0];
            if (file && file.size / 1000000 > 2) {
                canSubmit = false;
                setErrorImage("Kích thước hình ảnh quá lớn (< 2MB)");
                return;
            }
        })

        if (canSubmit) this.submit();
    })
</script>
</body>
</html>