<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/portal-layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${shop == null ? 'Review' : (shop.name + ' - Review')}"></title>
</head>
<body>
<div layout:fragment="content">

    <div class="main-inner rate shop">
        <h3 class="shop-title">Rate products</h3>
        <p class="shop-title-desc">Manage your store reviews</p>
        <div class="rate-search">
            <div class="rate-search-item rate-search-item__text">
                <label for="productName">Product name:</label>
                <input class="" type="text" id="productName" name="productName">
            </div>
            <div class="rate-search-item rate-search-item__text">
                <label for="userName">User name:</label>
                <input class="" type="text" id="userName" name="userName">
            </div>
            <div class="rate-search-item rate-search-item__date">
                <label for="date">Date:</label>
                <div class="ipt ipt__date">
                    <input class="jsDateRangePicker" type="text" id="date" name="date">
                    <i class="angle fas fa-angle-down" aria-hidden="true"></i>
                    <i class="calendar far fa-calendar-alt" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <button class="rate-submit btn btn__primary">Search</button>
    </div>
    <div class="main-inner rate-value">
        <ul class="portal-category">
            <li data-value="" class="portal-category--item active">
                <p>All Rates</p>
            </li>
            <li data-value="5" class="portal-category--item">
                <p>5 Sao</p>
            </li>
            <li data-value="4" class="portal-category--item">
                <p>4 Sao</p>
            </li>
            <li data-value="3" class="portal-category--item">
                <p>3 Sao</p>
            </li>
            <li data-value="2" class="portal-category--item">
                <p>2 Sao</p>
            </li>
            <li data-value="1" class="portal-category--item">
                <p>1 Sao</p>
            </li>
            <li class="portal-category--bar"></li>
        </ul>
        <div class="rate-table">
            <div class="rate-table-header">
                <div class="rate-row rate-row__header">
                    <div class="rate-row--item">Product information</div>
                    <div class="rate-row--item">Rate information</div>
                </div>
            </div>
            <div class="rate-table-body">
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    const shopId = [[${shop != null ? shop.id : null}]];

    $(function () {
        function setActive(ele) {
            if (!ele) return;
            const width = $(ele).outerWidth();
            const position = $(ele).position();

            $('.portal-category--item').removeClass('active');
            $(ele).addClass('active');

            $('.portal-category--bar').css({
                width,
                transform: `translateX(${position.left}px)`
            });
        }

        function getFilter() {
            const date = $('input[name="date"]').val().match(/.+(?=\s\-\s)|(?<=\s\-\s).+/gm);
            let star = $('.portal-category--item.active').attr('data-value');
            star = star ? star : null;
            return {
                userName: $('[name="userName"]').val() ? $('[name="userName"]').val() : null,
                productName: $('[name="productName"]').val() ? $('[name="productName"]').val() : null,
                minDate: date[0],
                maxDate: date[1],
                star
            }
        }

        function renderRating(star) {
            let result = ``;
            for (let i = 0; i < 5; i++) {
                result += `<i class="${i < star ? 'fas' : 'far'} fa-star"></i>`;
            }
            return result;
        }

        function fetchRate() {
            const filter = getFilter();
            console.log(filter);
            setGlobalLoading(true);

            $.ajax({
                url: `${window.location.protocol}//${window.location.host}/api/rate/portal/`,
                cache: false,
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify({...filter, shopId}),
                success: function (rates) {
                    let html = "";
                    rates.forEach(rate => {
                        console.log(rate);
                        html += `<div class="rate-row rate-row__body">`
                            + `<div class="rate-row--top">`
                            + `<p class="user">User: <img src="/assets/users/${rate.user.avatar}" alt=""><span>${rate.user.username}</span></p>`
                            + `</div>`
                            + `<div class="rate-row--content">`
                            + `<div class="rate-row--content-item rate-row--content-item__product">`
                            + `<img class="left" src="/assets/products/${rate.product.image[0]}" alt="">`
                            + `<div class="right">`
                            + `<p class="name">${rate.product.name}</p>`
                            + `<p class="category">Category: <span>${rate.product.category.name}</span></p>`
                            + `</div>`
                            + `</div>`
                            + `<div class="rate-row--content-item rate-row--content-item__rate">`
                            + `<span class="icon icon__star">`
                            + renderRating(rate.star)
                            + `</span>`
                            + `<p class="date">${getStringDateFormat(new Date(rate.createdAt))} ${getStringTimeFormat(new Date(rate.createdAt))}</p>`
                            + `<p>${rate.description}</p>`
                            + `</div>`
                            + `</div>`
                            + `</div>`;
                    })

                    $('.rate-table-body').html(html);

                    setGlobalLoading(false);
                },
                error: function (xhr, error, response) {
                    console.log({xhr, error, response});
                    setGlobalLoading(false);
                },
            });
        }

        setActive(document.querySelector('.portal-category--item.active'));

        fetchRate();
        $('.rate-submit').on('click', function () {
            fetchRate();
        })

        $('.portal-category--item').on('click', function () {
            setActive(this);
            fetchRate();
        })
    })
</script>
</body>
</html>