<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
    <div class="product-create-form--right-pic">
        <input type="file" name="mapImage[null01]">
    </div>
    <div class="product-create-form--right-pic">
        <input type="file" name="mapImage[null02]">
    </div>
    <div class="product-create-form--right-pic">
        <input type="file" name="mapImage[null03]">
    </div>
    <button>Submit</button>
</form>
</body>
</html>