.detail {
    padding-top: 20px;
    margin-bottom: 40px;

    &>*:not(:last-child) {
        margin-bottom: 15px;
    }

    &>* {
        @include box-shadow();
    }

    &-primary {
        @include flex($align: flex-start, $justify: flex-start);
        background-color: white;
        padding: 10px;
    }

    &-picture {
        width: 100%;
        max-width: 450px;
        margin-right: 20px;

        .pic {
            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--current {
            padding-bottom: 100%;
        }
    }

    &-content {
        &--title {
            font-size: 2.4rem;
            margin-bottom: 10px;
        }

        &--price {
            font-size: 3rem;
            color: $color-red;
            background-color: $color-bg-white;
            margin-bottom: 20px;
            padding: 5px 10px;
        }

        &--rate {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        &--line {
            font-size: 1.5rem;
            @include flex($align: center);
            display: inline-flex;
            margin-bottom: 10px;

            &-key {
                display: block;
                color: $color-txt-white-grey;
                min-width: 80px;
            }

            &-value {
                &__quantity {
                    input[type="number"] {
                        display: inline-block;
                        width: 50px;
                        height: 32px;
                        line-height: 32px;
                    }
                }
            }
        }

        &--button {
            font-size: 1.6rem;
            @include flex($justify: flex-start);
            margin-top: 20px;

            &-cart,
            &-buy {
                display: block;
                height: 48px;
                padding: 0 20px;
            }

            &-cart {
                margin-right: 15px;

                i {
                    margin-right: 10px;
                }
            }
        }
    }

    &-shop {
        @include flex($justify: flex-start);
        padding: 15px;
        background-color: white;

        &--picture {
            width: 78px;
            height: 78px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;
            flex-shrink: 0;

            img {
                height: 100%;
            }
        }

        &--content,
        &--description {
            width: calc(50% - calc(98px / 2));
        }

        &--content {
            font-size: 1.6rem;
            width: 100%;
            max-width: 339px;
            border-right: 1px solid $color-bg-white;

            &-title {
                margin-bottom: 10px;
            }

            .see {
                display: block;
                height: 30px;
            }
        }

        &--description {
            @include flex($justify: flex-start);
            width: 100%;
            padding-left: 55px;
            font-size: 1.4rem;

            &-item {
                display: block;
                width: calc(33.3% - 7px);

                &:not(:last-child) {
                    margin-right: 10px;
                }

                .txt__primary {
                    margin-left: 10px;
                }
            }
        }
    }

    &--title {
        padding: 15px;
        background-color: $color-primary01;
        color: white;
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    &-product {
        padding-top: 25px;
        background-color: white;

        &--content {
            font-size: 1.4rem;
            padding: 15px;
        }
    }

    &-rate {
        padding: 25px 0 15px;
        background-color: white;

        &--item {
            @include flex($align: flex-start, $justify: flex-start);
            padding: 15px;
            border-bottom: 1px solid $color-bd;
        }

        &--pic {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            flex-shrink: 0;
            border-radius: 50%;
            overflow: hidden;
        }

        &--name {
            font-size: 1.2rem;
        }

        &--star {
            margin-bottom: 10px;
        }

        &--text {
            padding: 10px 0;
            font-size: 1.4rem;
            line-height: 1.4;
        }

        &--date {
            font-size: 1.2rem;
            color: $color-txt-white-grey;
        }
    }
}