.header {
    @include background-primary();
    color: white;

    &-auth {
        background: white;

        .inner {
            padding-top: 26px;
            padding-bottom: 26px;
            @include flex(center, space-between);
        }

        &--left {
            @include flex($align: flex-end);
            color: $color-primary01;

            .logo-text {
                margin-right: 20px;
            }

            h2 {
                color: #000;
                line-height: 1;
                font-size: 24px;
            }
        }

        &--right {
            color: $color-primary01;
        }
    }

    &-container {
        @include flex($justify: space-between);
        position: relative;
        height: 88px;
    }

    &-logo {
        @include flex();
        flex-shrink: 0;
        padding: 10px 0;
        margin-right: 40px;
        height: 100%;

        img {
            height: 100%;
        }

        .pic {
            margin-right: 18px;
        }

        .txt {
            height: 40px;
        }

        &:hover {
            opacity: inherit;
        }
    }

    &-search {
        width: 100%;
    }

    &-form {
        font-size: 1.8rem;
        position: relative;
        margin-bottom: 5px;

        &--search {
            width: 100%;
            height: 38px;
            font-weight: normal;
            padding: 0px 68px 0 5px;
            border-radius: 3px;
        }

        &--submit {
            position: absolute;
            width: 60px;
            height: calc(100% - 6px);
            top: 3px;
            right: 3px;
            border-radius: 3px;
        }
    }

    &-category {
        @include flex($justify: flex-start);
        font-size: 1.2rem;

        &--item {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    &-cart {
        width: 138px;
        min-width: 60px;
        margin: 0 10px;
        font-size: 30px;
        text-align: center;
    }
}

.nav {
    @include flex($justify: space-between);
    min-height: 34px;
    margin-bottom: 8px;
    font-size: 1.6rem;

    &-col {
        &__left {
            .nav-col--item:not(:last-child) {
                margin-right: 10px;
            }
        }

        &__right {
            .nav-col--item:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}