.order {
    font-size: 1.4rem;

    .order {
        &-section {
            @include box-shadow();
            border-radius: 2px;
            background-color: white;
            margin-bottom: 12px;
        }

        &-submit {
            background-color: $color-bg-yellow-white;
        }
    }

    &-item {
        @include flex($justify: flex-start, $align: flex-start);
        border-bottom: 1px solid $color-bd;
        padding: 0 15px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &--pic {
            width: 80px;
            height: 80px;
            flex-shrink: 0;
        }

        &--text {
            padding: 0 20px 0 10px;

            &>* {
                margin-bottom: 5px;
            }
        }

        &--name {
            display: -webkit-box;
            text-overflow: ellipsis;
            font-size: 16px;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        &--category {
            color: $color-txt-white-grey;
        }

        &--quantity {
            color: $color-txt-grey;
        }

        &--price {
            font-size: 18px;
            align-self: center;
            color: $color-red;
        }
    }

    &-shop {
        @include flex($justify: flex-start);
        width: calc(100% - 30px);
        padding: 20px 0 15px;
        margin: 0 auto 15px;
        border-bottom: 1px solid $color-bd-ipt;

        &>*:not(:last-child) {
            margin-right: 10px;
        }

        &--name {
            font-weight: bold;
        }

        &--btn {
            font-size: 1.2rem;
            padding: 5px 8px;
        }

        &--status {
            color: $color-red;
            margin-left: auto;
        }
    }

    &-submit {
        padding: 0 15px;

        &--total {
            @include flex($justify: flex-end);
            padding: 24px 0px 12px;

            span:last-child {
                margin-left: 10px;
                color: $color-red;
                font-size: 2.4rem;
            }
        }

        &--info {
            @include flex($justify: flex-end);
            padding: 12px 0 24px;
        }

        &--text {
            color: $color-txt-white-grey;
        }

        &--btn {
            height: 40px;
            margin-left: 10px;

            &:first-of-type {
                margin-left: auto;
            }
        }
    }

    &-summary{
        &--item{
            @include flex($justify: flex-end);
            border-radius: 2px;
            border-bottom: 1px solid $color-bd-ipt;

            & > *:first-child{
                font-size: 1.2rem;
                color: $color-txt-white-grey;
                padding-right: 13px;
            }

            & > *:last-child{
                width: 240px;
                text-align: right;
                padding: 10px 15px 10px 13px;
                border-left: 1px solid $color-bd-ipt;
            }

            &__total{
                & > *:last-child{
                    color: $color-primary01;
                    font-size: 2.4rem;
                }
            }
        }
    }
}

.order-detail{
    font-size: 1.4rem;
    @include box-shadow();
    &-main{
        background-color: white;
    }

    &-header, &-info{
        @include flex($justify: flex-start);
        padding: 20px 15px;
        border-bottom: 1px solid $color-bd;
    }

    &-header{
        &--back{
            color: $color-txt-white-grey;
        }

        &--id{
            color: $color-txt-grey;
            margin: 0 20px 0 auto;
            padding-right: 20px;
            border-right: 1px solid $color-bd;
        }

        &--status{
            color: $color-primary01;
        }
    }

    &-info{
        border: none;
        & > *:not(:last-child){
            margin-right: 20px;
        }

        &--name{
            font-weight: bold;
        }
        &--address, &--phone{
            color: $color-txt-grey;
            font-size: 1.2rem;
        }
    }

    .order{
        &-shop{
            background-color: $color-bg-yellow-white;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 0;
            width: 100%;
        }

        &-item{
            padding-top: 15px;
        }
    }

    &-list{
        background-color: $color-bg-yellow-white;
    }
}