* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover, a:active {
  opacity: 0.75;
  color: inherit;
  text-decoration: inherit;
}

html {
  font-size: 10px;
  font-family: Arial, sans-serif;
}

body {
  line-height: normal;
  font-size: 1.3rem;
  background-color: #F5F5F5;
}

input {
  font-size: inherit;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 13px -10px #adadad;
          box-shadow: 1px 1px 13px -10px #adadad;
}

input:focus {
  border-color: #9932CC;
}

input,
button {
  outline: none;
  font-size: inherit;
}

button {
  border: none;
  cursor: pointer;
}

.select {
  position: relative;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 2px;
}

.select select {
  display: none;
}

.select--default {
  text-align: left;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.select--list {
  position: relative;
  margin-top: 2px;
  z-index: 99;
  width: 100%;
  background-color: inherit;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.select--list.show {
  opacity: 1;
  visibility: visible;
}

.select--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  direction: row;
  padding: 7px 10px;
}

.select--item:hover, .select--item.active {
  color: #9932CC;
}

.select--item.active .icon {
  display: block;
}

.select--item span:first-child {
  margin-right: 10px;
}

.select--item .icon {
  display: none;
  margin-left: auto;
}

.select > .icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 6px;
  color: #555;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.3em;
  pointer-events: none;
}

.btn {
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.75;
}

.btn__primary {
  background-color: #9932CC;
}

.btn__red {
  background-color: #ff3945;
}

.inner {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

.form--error-ipt {
  border: 1px solid red;
}

.form--error-mess {
  color: red;
  margin-bottom: 15px;
}

.icon img {
  display: block;
  width: 100%;
}

.icon__star {
  color: #fff200;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-item {
  -webkit-box-shadow: 1px 1px 13px -10px #adadad;
          box-shadow: 1px 1px 13px -10px #adadad;
  display: block;
  position: relative;
  width: calc(20% - 8px);
  margin: 0 4px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid white;
}

.product-item:hover {
  opacity: inherit;
  border: 1px solid #9932CC;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.product-item > * {
  width: 100%;
}

.product-item--picture {
  position: relative;
  padding-top: 100%;
}

.product-item--picture img {
  overflow: hidden;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.product-item--content {
  padding: 10px;
}

.product-item--content > *:not(:last-child) {
  margin-bottom: 6px;
}

.product-item--title {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6rem;
  height: 3rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-item--price {
  line-height: 1;
  color: #ff3945;
  font-size: 20px;
}

.product-item--location {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  text-align: right;
}

.pagi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  direction: row;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 2.2rem;
  color: rgba(0, 0, 0, 0.65);
}

.pagi-item {
  height: 30px;
  width: 40px;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  color: inherit;
  background: transparent;
  margin: 0 1.5rem;
}

.pagi-item.active {
  background-color: #9932CC;
  color: white;
}

.header {
  background-color: #9932CC;
  color: white;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  direction: row;
}

.header-logo {
  padding: 10px 0;
  width: 100%;
  max-width: 100px;
  margin-right: 40px;
}

.header-search {
  width: 100%;
}

.header-form {
  font-size: 1.8rem;
  position: relative;
  margin-bottom: 5px;
}

.header-form--search {
  width: 100%;
  height: 38px;
  font-weight: normal;
  padding: 0px 68px 0 5px;
  border-radius: 3px;
}

.header-form--submit {
  position: absolute;
  width: 60px;
  height: calc(100% - 6px);
  top: 3px;
  right: 3px;
  border-radius: 3px;
}

.header-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  direction: row;
  font-size: 1.2rem;
}

.header-category--item:not(:last-child) {
  margin-right: 15px;
}

.header-cart {
  width: 138px;
  min-width: 60px;
  margin: 0 10px;
  font-size: 30px;
  text-align: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  direction: row;
  min-height: 34px;
  margin-bottom: 8px;
  font-size: 1.6rem;
}

.nav-col__left .nav-col--item:not(:last-child) {
  margin-right: 10px;
}

.nav-col__right .nav-col--item:not(:first-child) {
  margin-left: 10px;
}

.footer {
  background-color: #fbfbfb;
  padding: 10px 0;
  border-top: 4px solid #9932CC;
}

.footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  direction: row;
}

.footer-head {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-item {
  width: calc(25% - 7px);
}

.footer-item__contact a {
  text-decoration: underline;
}

.footer-item__connect .icon {
  display: block;
  width: 30px;
}

.footer-item__connect .icon:not(:last-child) {
  margin-right: 10px;
}

.footer-item__payment .icon__visa {
  width: 50px;
}

.footer-item__mobile .icon__qr {
  width: 80px;
  margin-right: 10px;
}

.footer-item__mobile .icon__store {
  margin-bottom: 10px;
  display: block;
  width: 100px;
}

.footer-item--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  direction: row;
}

.footer-item--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  direction: row;
}

.footer-item--line {
  display: block;
}

.auth-title {
  font-size: 3rem;
  font-weight: bold;
  padding: 0 2.2rem 2.2rem;
}

.auth-container {
  border: 1px solid red;
  padding: 15px;
  width: 100%;
  max-width: 320px;
}

.auth-navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  direction: row;
}

.auth--ipt {
  width: 100%;
}

.auth--ipt__txt {
  display: block;
  height: 32px;
  padding: 4px;
  margin-bottom: 10px;
}

.auth--ipt__submit {
  border-radius: 2px;
  height: 40px;
  margin-bottom: 10px;
}

.shopping {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  direction: row;
}

.shopping .product-item {
  background-color: white;
}

.shopping-side {
  max-width: 160px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
}

.shopping-side--headline {
  font-weight: bold;
  font-size: 22px;
}

.shopping-side--item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding-bottom: 10px;
}

.shopping-side--title {
  margin: 10px 0;
}

.shopping-side--content__list-check li, .shopping-side--content__list-rate li {
  margin-bottom: 6px;
}

.shopping-side--content__list-rate .icon {
  margin-right: 5px;
}

.shopping-side--content__price-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  direction: row;
  margin-bottom: 10px;
}

.shopping-side--content__price-range input {
  width: calc(50% - 15px);
}

.shopping-side--content__price-range span {
  display: inline-block;
  text-align: center;
  width: 20px;
  margin: 0 10px;
}

.shopping-side--content__price-range ~ button[type="submit"] {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.shopping-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.shopping-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  direction: row;
  background-color: #9932CC;
  padding: 10px 15px;
  color: white;
  font-size: 1.6rem;
  height: 54px;
  margin-bottom: 20px;
}

.shopping-sort > *:not(p) {
  height: 100%;
}

.shopping-sort > *:not(:last-child) {
  margin-right: 8px;
}

.shopping-sort > *:first-child {
  margin-right: 18px;
}

.shopping-sort--btn {
  background-color: white;
  color: black;
}

.shopping-sort--btn.active {
  border: 2px solid white;
  background-color: #9932CC;
  color: white;
}

.shopping-sort--btn:hover {
  opacity: 1;
}

.shopping-sort--select {
  width: 140px;
}

.shopping-sort--pagi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  direction: row;
  margin-left: auto;
}

.shopping-sort--pagi p {
  margin-right: 10px;
}

.shopping-sort--pagi button {
  font-size: 20px;
  color: #555;
  width: 34px;
  height: 100%;
  background-color: white;
}

.shopping-sort--pagi button:last-child {
  border-left: 1px solid rgba(0, 0, 0, 0.14);
}

.shopping-list {
  margin-bottom: 20px;
}

.shopping-pagi {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */