<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">New category</h3>
                    </div>
                    <form method="post" th:object="${categoryForm}" action="/admin/category/create">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Category name</label>
                                <input type="text" class="form-control" th:field="*{name}" placeholder="Category name">
                                <p th:errors="*{name}" class="text-danger">Invalid value</p>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Add category</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="dataTable" class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Category</th>
                                <th>Update</th>
                                <!--                <th>Thao tác</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="category : ${categories}">
                                <td th:text="${category.id}"></td>
                                <td th:text="${category.name}"></td>
                                <td class="d-flex">
                                    <form action="/admin/category/update" method="post" class="jsUpdateFrom d-flex">
                                        <input type="hidden" name="id" th:value="${category.id}">
                                        <input type="text" name="name" placeholder="Change name">
                                        <button class="ml-2 submit btn btn-sm btn-warning">Update</button>
                                    </form>
                                    <form th:action="@{/admin/category/delete/{id}(id=${category.id})}" th:method="delete" class="d-flex">
                                        <button class="ml-2 submit btn btn-sm btn-danger">Delete</button>
                                    </form>
                                    <p class="text-danger error d-none m-0"></p>
                                </td>
                                <!--                <td>-->
                                <!--                    <form action="" method="post" class="d-flex">-->
                                <!--                        <input type="hidden" th:value="${category.id}">-->
                                <!--                        <button class="submit btn-sm btn">Ẩn</button>-->
                                <!--                    </form>-->
                                <!--                </td>-->
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Category</th>
                                <th>Update</th>
                                <!--                <th>Thao tác</th>-->
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script layout:fragment="script">
    $("#dataTable").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false
    });
    $('.jsUpdateFrom').on('submit', function () {
        $('.error').addClass('d-none');

        if ($(this).children('[name="name"]').val()) {
            return true;
        }
        $(this).next('.error').text('Category name can\'t not be blank').removeClass('d-none');
        return false;
    })
</script>
</body>
</html>