<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Giao dịch - ' + transaction.id}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8 d-flex align-items-center">
                        <h3 class="card-title">
                            <i class="fas fa-text-width"></i>
                            <span th:text="${transaction.id}"></span>
                        </h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">ID</dt>
                    <dd th:text="${transaction.id}" class="col-sm-9"></dd>
                    <dt class="col-sm-3">Cửa hàng</dt>
                    <dd th:text="${transaction.shop.name}" class="col-sm-9"></dd>
                    <dt class="col-sm-3">Người dùng</dt>
                    <dd th:text="${transaction.shop.user.username}" class="col-sm-9"></dd>
                    <th:block th:if="${transaction.order != null}">
                        <dt class="col-sm-3">Tổng giá trị</dt>
                        <dd th:text="${#numbers.formatDecimal(transaction.order.total, 0, 'COMMA', 0, 'POINT') + ' vnđ'}" class="col-sm-9"></dd>
                        <dt class="col-sm-3">Thực nhận</dt>
                        <dd class="col-sm-9">
                            <span th:text="${#numbers.formatDecimal(transaction.order.getShopRealReceiveTotal(), 0, 'COMMA', 0, 'POINT') + ' vnđ'}"></span>
                            <span th:text="${'(' + transaction.order.percentPermission + '%)'}"></span>
                        </dd>
                    </th:block>
                    <dt class="col-sm-3">Tổng cộng</dt>
                    <dd class="col-sm-9">
                        <span th:text="${transaction.order == null ? '-' : '+'}" class="badge"
                              th:classappend="${transaction.order == null ? 'badge-danger' : 'badge-success'}"></span>
                        <span th:text="${#numbers.formatDecimal(transaction.amount, 0, 'COMMA', 0, 'POINT')}"></span>
                        <span> vnđ</span>
                    </dd>
                    <dt class="col-sm-3">Ngày yêu cầu</dt>
                    <dd th:text="${#dates.format(transaction.date, 'dd-MM-yyyy HH:mm')}" class="col-sm-9"></dd>
                </dl>
            </div>
        </div>
        <div th:if="${transaction.order != null}"
             th:with="order = ${transaction.order}"
             class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8 d-flex align-items-center">
                        <h3 class="card-title">
                            <i class="fas fa-text-width"></i>
                            <span>Đơn hàng </span>
                            <span th:text="${order.id}"></span>
                        </h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-border table-stripped">
                    <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th class="text-center">Số lượng</th>
                        <th class="text-center">Đơn giá</th>
                        <th class="text-center">Tổng cộng</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="od : ${order.orderDetails}">
                        <td th:text="${od.product.name}"></td>
                        <td class="text-center nowrap" th:text="${od.quantity}"></td>
                        <td class="text-center nowrap"
                            th:text="${#numbers.formatDecimal(od.lastPrice, 0, 'COMMA', 0, 'POINT') + ' vnđ'}"></td>
                        <td class="text-center nowrap"
                            th:text="${#numbers.formatDecimal(od.subtotal, 0, 'COMMA', 0, 'POINT') + ' vnđ'}"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" class="text-right nowrap">
                            <span class="mr-2">Phí vận chuyển:</span>
                            <span th:text="${#numbers.formatDecimal(order.shippingCost, 0, 'COMMA', 0, 'POINT') + ' vnđ'}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right nowrap">
                            <span class="mr-2">Tổng giá trị:</span>
                            <span th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 0, 'POINT') + ' vnđ'}"></span>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>

<script layout:fragment="script">
    $("#dataTable").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false
    });
</script>
</body>
</html>