<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8 d-flex align-items-center">
                        <h3 class="card-title">
                            <i class="fas fa-text-width"></i>
                            <span th:text="${transaction.id}"></span>
                        </h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">ID</dt>
                    <dd th:text="${transaction.id}" class="col-sm-9"></dd>
                    <dt class="col-sm-3">Cửa hàng</dt>
                    <dd th:text="${transaction.shop.name}" class="col-sm-9"></dd>
                    <dt class="col-sm-3">Người dùng</dt>
                    <dd th:text="${transaction.shop.user.username}" class="col-sm-9"></dd>
                    <dt class="col-sm-3">Tổng cộng</dt>
                    <dd class="col-sm-9">
                        <span th:text="${transaction.order == null ? '-' : '+'}" class="badge"
                              th:classappend="${transaction.order == null ? 'badge-danger' : 'badge-success'}"></span>
                        <span th:text="${transaction.amount}"></span>
                        <span> vnđ</span>
                    </dd>
                    <dt class="col-sm-3">Ngày yêu cầu</dt>
                    <dd th:text="${#dates.format(transaction.date, 'dd-MM-yyyy HH:mm')}" class="col-sm-9"></dd>
                </dl>
            </div>
        </div>
        <div th:if="${transaction.order != null}"
             th:with="order = ${transaction.order}"
             class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8 d-flex align-items-center">
                        <h3 class="card-title">
                            <span>Đơn hàng </span>
                            <span th:text="${order.id}"></span>
                        </h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <dl class="row">

                </dl>
            </div>
        </div>
    </div>
</section>

<script layout:fragment="script">
    $("#dataTable").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false
    });
</script>
</body>
</html>