<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Transaction - ' + transaction.id}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <div class="card"
             th:classappend="${transaction.status.name == T(com.apt.p2p.entityEnum.ShopTransactionStatus).WAIT.name() ? 'card-danger' :
                            (transaction.status.name == T(com.apt.p2p.entityEnum.ShopTransactionStatus).SUCCESS.name() ? 'card-success' : 'card-dark')}">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8 d-flex align-items-center">
                        <h3 class="card-title">
                            <i class="fas fa-text-width mr-2"></i>
                            <span th:text="${transaction.id}"></span>
                        </h3>
                    </div>
                    <div class="col-sm-4 d-flex align-items-center justify-content-end">
                        <h3 class="card-title">
                            <th:block th:switch="${transaction.status.name}">
                                <span th:case="${T(com.apt.p2p.entityEnum.ShopTransactionStatus).WAIT.name()}">WAIT</span>
                                <span th:case="${T(com.apt.p2p.entityEnum.ShopTransactionStatus).SUCCESS.name()}">SUCCESS</span>
                                <span th:case="${T(com.apt.p2p.entityEnum.ShopTransactionStatus).FAIL.name()}">FAIL</span>
                            </th:block>
                        </h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">ID</dt>
                    <dd th:text="${transaction.id}" class="col-sm-9"></dd>
                    <dt class="col-sm-3">Shop</dt>
                    <dd th:text="${transaction.shop.name}" class="col-sm-9"></dd>
                    <dt class="col-sm-3">User</dt>
                    <dd th:text="${transaction.shop.user.username}" class="col-sm-9"></dd>
                    <th:block th:if="${transaction.order != null}">
                        <dt class="col-sm-3">Total</dt>
                        <dd th:text="${#numbers.formatDecimal(transaction.order.total, 0, 'COMMA', 0, 'POINT') + ' vnđ'}"
                            class="col-sm-9"></dd>
                        <dt class="col-sm-3">Fee</dt>
                        <dd th:text="${#numbers.formatDecimal(transaction.order.total.multiply(0.05), 0, 'COMMA', 0, 'POINT') + ' vnđ'}"
                            class="col-sm-9"></dd>
                    </th:block>
                    <th:block th:if="${transaction.order == null}">
                        <dt class="col-sm-3">Withdraw total</dt>
                        <dd th:text="${'-' + #numbers.formatDecimal(transaction.amount, 0, 'COMMA', 0, 'POINT') + ' vnđ'}"
                            class="col-sm-9"></dd>
                    </th:block>
                    <dt class="col-sm-3">Finish total</dt>
                    <dd class="col-sm-9">
                            <span th:text="${transaction.order == null ? '-' : '+'}" class="badge"
                                  th:classappend="${transaction.order == null ? 'badge-danger' : 'badge-success'}"></span>
                        <span th:text="${#numbers.formatDecimal(transaction.amount, 0, 'COMMA', 0, 'POINT')}"></span>
                        <span> vnđ</span>
                    </dd>
                    <dt class="col-sm-3">Date</dt>
                    <dd th:text="${#dates.format(transaction.date, 'dd-MM-yyyy HH:mm')}" class="col-sm-9"></dd>
                </dl>
            </div>
        </div>
        <div th:if="${transaction.order != null}"
             th:with="order = ${transaction.order}"
             class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8 d-flex align-items-center">
                        <h3 class="card-title">
                            <i class="fas fa-text-width mr-2"></i>
                            <span>Orders </span>
                            <span th:text="${order.id}"></span>
                        </h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-border table-stripped">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="od : ${order.orderDetails}">
                        <td th:text="${od.product.name}"></td>
                        <td class="text-center nowrap" th:text="${od.quantity}"></td>
                        <td class="text-center nowrap"
                            th:text="${#numbers.formatDecimal(od.lastPrice, 0, 'COMMA', 0, 'POINT') + ' vnđ'}"></td>
                        <td class="text-center nowrap"
                            th:text="${#numbers.formatDecimal(od.subtotal, 0, 'COMMA', 0, 'POINT') + ' vnđ'}"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" class="text-right nowrap">
                            <span class="mr-2">Shipping cost:</span>
                            <span th:text="${#numbers.formatDecimal(order.shippingCost, 0, 'COMMA', 0, 'POINT') + ' vnđ'}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right nowrap">
                            <span class="mr-2">Total:</span>
                            <span th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 0, 'POINT') + ' vnđ'}"></span>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>

<script layout:fragment="script">
    $("#dataTable").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false
    });
</script>
</body>
</html>