<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/account-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP</title>
</head>
<body>
<div layout:fragment="content" class="inner split account account__address">
    <div th:replace="fragments/general-account.html :: content-side"></div>

    <div class="split-main">
        <div class="split-header">
            <h2 class="split-header--title">Địa Chỉ Của Tôi</h2>
            <button data-id="create-address" class="js-modal btn btn__primary split-header--add"><i
                    class="icon icon__left fas fa-plus"></i>Thêm địa chỉ mới
            </button>
        </div>
        <ul class="account-address">
            <li th:each="address : ${addressList}" class="account-address-item">
                <div class="account-address-left">
                    <div class="account-address-left--row">
                        <p class="account-address-left--key">Họ và tên</p>
                        <p th:text="${address.na}" class="account-address-left--value">[Address Username]</p>
                    </div>
                    <div class="account-address-left--row">
                        <p class="account-address-left--key">Số điện thoại</p>
                        <p class="account-address-left--value">[Address Phone]</p>
                    </div>
                    <div class="account-address-left--row">
                        <p class="account-address-left--key">Địa chỉ</p>
                        <p class="account-address-left--value">
                            <span>[Address Number]</span><br>
                            <span>[Address Province]</span><br>
                            <span>[Address District]</span><br>
                            <span>[Address City]</span>
                        </p>
                    </div>
                </div>
                <div class="account-address-right">
                    <p>
                        <a class="link" href="#">Sửa</a>
                        <a class="link" href="#">Xóa</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div layout:fragment="modal" id="create-address" class="modal2-container">
    <div class="modal2 modal2__address">
        <div class="modal2-header">
            <h3>Địa chỉ mới</h3>
        </div>
        <form action="" class="modal2-body modal2-form modal2-form__address-create">
            <div class="modal2-input-container">
                <input class="modal2-input modal2-input__name" type="text" placeholder="Họ và tên">
                <input class="modal2-input modal2-input__phone" type="text" placeholder="Số điện thoại">
            </div>
            <div class="modal2-input-container modal2-input-container__address">
                <p class="modal2-input modal2-input__legend">Tỉnh/ Thành phố, Quận/Huyện, Phường/Xã</p>
                <p class="modal2-input modal2-input__value">Gia Lai, Huyện Đăk Pơ, Xã An Thành</p>
                <div class="modal2-input modal2-input__box">
                    <div class="modal2-input modal2-input__header">
                        <p>Tỉnh/Thành phố</p>
                        <p class="active">Quận/Huyện</p>
                        <p>Phường/Xã</p>
                    </div>
                    <ul class="modal2-input modal2-input__list">
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                        <li>SAHDG sAHDs JHJDS</li>
                    </ul>
                </div>
            </div>
            <div class="modal2-card-input">
                <textarea type="text" class="" placeholder="Địa chỉ cụ thể" rows="3" resize></textarea>
            </div>
        </form>
        <div class="modal2-footer">
            <button class="js-close modal2-footer--back btn btn__white">TRỞ LẠI</button>
            <button class="js-close modal2-footer--submit btn btn__primary">Hoàn Thành</button>
        </div>
    </div>
</div>
</body>
</html>