<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/account-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP</title>
</head>
<body>
<div layout:fragment="content" class="inner split account account__card">
    <div th:replace="fragments/general-account.html :: content-side"></div>

    <div class="split-main">
        <div class="split-header">
            <h2 class="split-header--title">Thẻ tín dụng/Ghi nợ</h2>
            <button data-id="create-card" class="js-modal btn btn__primary split-header--add"><i
                    class="icon icon__left fas fa-plus"></i>Thêm thẻ mới
            </button>
        </div>
        <ul class="account-card">
            <p th:if="${cards.isEmpty()}" class="py-5">Bạn không có tài khoản nào</p>
            <li th:each="item : ${cards}" class="account-card-item">
                <p th:switch="${item.type}" class="account-card-item--pic pic">
                    <img th:case="${T(com.apt.p2p.entity.CardType).VISA}"
                         src="/img/common/icon-visa.png" alt="">
                    <img th:case="${T(com.apt.p2p.entity.CardType).MASTER_CARD}"
                         src="/img/common/icon-master-card.png" alt="">
                </p>
                <p th:text="${item.type.displayValue}" class="account-card-item--name">VISA</p>
                <p th:text="${item.number}" class="account-card-item--number">**** **** **** ****</p>
                <div class="account-card-item--action">
                    <form th:action="@{/card/{id}(id=${item.id})}" th:method="delete">
                        <button type="submit" class="account-card-item--link">Xóa</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</div>
<div layout:fragment="modal" id="create-card" th:classappend="${hasAnyError != null && hasAnyError} ? 'js-close' : ''"
     class="modal2-container">
    <form th:object="${card}" th:action="@{/card}" method="post" class="modal2 modal2__card">
        <div class="modal2-header">
            <h3>Thêm thẻ</h3>
        </div>
        <div action="" class="modal2-body modal2-form modal2-form__card-create">
            <div class="modal2-input-container">
                <input th:field="*{fullname}" class="modal2-input modal2-input__name" type="text"
                       placeholder="Họ tên trên thẻ">
                <p th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}" class="error">Invalid value</p>
            </div>
            <div class="modal2-input-container">
                <input th:field="*{number}" class="modal2-input modal2-input__number" placeholder="Số thẻ">
                <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}" class="error">Invalid value</p>
            </div>
            <div class="modal2-input-container modal2-input-container__card-choose">
                <select id="select-card" class="d-none" th:field="*{type}">
                    <option value=""></option>
                    <option th:each="payType : ${T(com.apt.p2p.entity.CardType).values()}"
                            th:value="${payType}"
                            th:text="${payType.displayValue}"
                            th:selected="${payType == card.type}"></option>
                </select>
                <div class="modal2--pic-type">
                    <th:block th:each="payType : ${T(com.apt.p2p.entity.CardType).values()}">
                        <p th:attr="data-value=${payType}" th:switch="${payType}"
                           th:classappend="${payType == card.type} ? 'active' : 'no-active'"
                           class="pic">
                            <img th:case="${T(com.apt.p2p.entity.CardType).VISA}"
                                 src="/img/common/icon-visa.png" alt="">
                            <img th:case="${T(com.apt.p2p.entity.CardType).MASTER_CARD}"
                                 src="/img/common/icon-master-card.png" alt="">
                        </p>
                    </th:block>
                </div>
                <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="error">Invalid value</p>
            </div>
            <div class="modal2-input-container">
                <input th:field="*{due}" type="date" class="modal2-input modal2-input__date" placeholder="Ngày hết hạn">
                <input th:field="*{cvv}" class="modal2-input modal2-input__CVV" placeholder="Mã CVV">
                <p th:if="${#fields.hasErrors('due')}" th:errors="*{due}" class="error">Invalid value</p>
                <p th:if="${#fields.hasErrors('cvv')}" th:errors="*{cvv}" class="error">Invalid value</p>
            </div>
            <div class="modal2-input-container">
                <input th:field="*{addressRegister}" class="modal2-input modal2-input__address" type="text"
                       placeholder="Địa chỉ nhận hóa đơn">
                <p th:if="${#fields.hasErrors('addressRegister')}" th:errors="*{addressRegister}" class="error">Invalid
                    value</p>
            </div>
            <div class="modal2-input-container">
                <input th:field="*{postalCode}" class="modal2-input modal2-input__postal" placeholder="Potal code">
                <p th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="error">Invalid value</p>
            </div>
        </div>
        <div class="modal2-footer">
            <button type="button" class="js-close modal2-footer--back btn btn__white">TRỞ LẠI</button>
            <button type="submit" class="js-close modal2-footer--submit btn btn__primary">Hoàn Thành</button>
        </div>
    </form>
</div>

<script layout:fragment="script">
    $('.modal2-input-container__card-choose .pic').on('click', function () {
        $('.modal2-input-container__card-choose .pic').removeClass('active');
        $(this).addClass('active');
        $('select#select-card').val(this.dataset.value).change();
    })
</script>
</body>
</html>