<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/account-layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${user}"></title>
</head>
<body>
<div layout:fragment="content" class="inner split account account__info">
    <div th:replace="fragments/general-account.html :: content-side"></div>

    <div class="split-main split-main__form">
        <p class="p-3" th:if="${user.provider != 'LOCAL'}">Your account can't be edit information</p>
        <th:block th:if="${user.provider == 'LOCAL'}">
            <div class="split-header">
                <h2 class="split-header--title">Change Password</h2>
                <p class="split-header--text">Profile management information for account security</p>
            </div>
            <form th:action="@{/update-password}" method="POST" class="account-form account-edit-form"
                  enctype="multipart/form-data">
                <div class="account-form--left">
                    <div class="form-item">
                        <label class="form-item--left">New password</label>
                        <div class="form-item--right">
                            <input  type="password" name="newPassword">
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-item--left">Confirm password</label>
                        <div class="form-item--right">
                            <input type="password" name="confirmPassword">
                            <p th:if="${errorPassword != null}"  th:text="${errorPassword}" class="error">Invalid value</p>

                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-item--left"></label>
                        <div class="form-item--right">
                            <button type="submit" class="btn btn__primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </th:block>
    </div>
</div>
</body>
</html>