<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/account-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP</title>
</head>
<body>
<div layout:fragment="content" class="inner split order-detail">
    <div th:replace="fragments/general-account.html :: content-side"></div>

    <div class="split-main order-detail-main">
        <div class="order-detail-header">
            <a class="order-detail-header--back jsBack" href="javascript: void(0)"><i class="fas fa-angle-left mr10"></i>Back</a>
            <p class="order-detail-header--id">
                <span>Order ID:</span>
                <span th:text="${order.id}">[Order Id]</span>
            </p>
            <p th:text="${order.currentStatus.name}" class="order-detail-header--status">[Order Status]</p>
        </div>
        <div class="order-detail-status">
            <div class="order-step">
                <div class="order-step--item"
                     th:each="status: ${statusList}"
                     th:if="${(status.id != 2) || (status.id == 2 && order.methodPayment)}"
                     th:classappend="${order.currentStatus.id > status.id ? 'success' : (order.currentStatus.id == status.id ? 'current' : '')}">
                    <p class="order-step--icon circle">
                        <i th:class="${status.getIconUrl()}"></i>
                    </p>
                    <p class="order-step--status"
                       th:text="${order.currentStatus.id > status.id ? status.doneName : status.name}"></p>
                    <p th:if="${order.currentStatus.id > status.id}"
                       th:text="${#dates.format(statusMapStatusHistory.get(status.id).date, 'dd-MM-yyyy HH:mm')}"
                       class="order-step--time">[Order History Date]</p>
                </div>
            </div>
            <div class="order-detail-control">
                <a th:href="@{/order/{id}/rate(id = ${order.id})}">
                    <button class="order-detail-control--btn btn btn__primary">Đánh giá</button>
                </a>
                <button class="order-detail-control--btn btn btn__white">Liên hệ người bán</button>
                <button class="order-detail-control--btn btn btn__white">Hủy đơn hàng</button>
            </div>
        </div>
        <div class="top-envelope"></div>
        <div th:with="withUser = ${order.user}" class="order-detail-info">
            <p th:text="${withUser.username}" class="order-detail-info--name">[User Name]</p>
            <p th:text="${withUser.phone}" class="order-detail-info--phone">[User Phone]</p>
            <p th:text="${order.address.getFullAddress()}"
               class="order-detail-info--address">[User Full Address]</p>
        </div>
        <div th:with="withShop = ${order.shop}" class="order-shop">
            <p th:text="${withShop.name}" class="order-shop--name">[Shop Name]</p>
            <a th:href="@{/shop/{id}(id=${withShop.id})}"
               class="order-shop--btn order-shop--btn__visit btn btn__primary">
                <i class="fas fa-store"></i> Ghé thăm shop
            </a>
        </div>
        <ul class="order-detail-list">
            <li th:each="orderDetail : ${order.orderDetails}"
                th:with="withProduct = ${orderDetail.product}"
                class="order-item">
                <p class="pic order-item--pic"><img th:src="${withProduct.image.size() > 0 ? withProduct.toUrl(withProduct.image.get(0)) : ''}"
                                                    alt=""></p>
                <div class="order-item--text">
                    <p th:text="${withProduct.name}" class="order-item--name">[Product Name]</p>
                    <p class="order-item--category">
                        <span>Danh mục:</span>
                        <span th:text="${withProduct.category.name}">[Category Name]</span>
                    </p>
                    <p class="order-item--quantity">
                        <span>x</span>
                        <span th:text="${orderDetail.quantity}">[Order Quantity]</span>
                    </p>
                </div>
                <p class="order-item--price">
                    <span th:text="${#numbers.formatDecimal(orderDetail.lastPrice, 0, 'COMMA', 0, 'POINT')}"></span>
                    <span> vnđ</span>
                </p>
            </li>
        </ul>
        <ul class="order-summary">
            <li class="order-summary--item">
                <p>Tổng tiền hàng</p>
                <p>
                    <span th:text="${#numbers.formatDecimal(order.calTotal(), 0, 'COMMA', 0, 'POINT')}">
                        [Order Total]
                    </span>
                    <span> vnđ</span>
                </p>
            </li>
            <div class="order-summary--item">
                <p>Phí vận chuyển</p>
                <p>
                    <span th:text="${#numbers.formatDecimal(order.shippingCost, 0, 'COMMA', 0, 'POINT')}">[Order Shipping]</span>
                    <span> vnđ</span>
                </p>
            </div>
            <div class="order-summary--item order-summary--item__total">
                <p>Tổng số tiền</p>
                <p>
                    <span th:text="${#numbers.formatDecimal(order.calTotal().add(order.shippingCost), 0, 'COMMA', 0, 'POINT')}">[Summary Total]</span>
                    <span>vnđ</span>
                </p>
            </div>
            <div class="order-summary--item">
                <p>Phương thức thanh toán</p>
                <p th:switch="${order.methodPayment}">
                    <span th:case="true">Thẻ tín dụng / ghi nợ</span>
                    <span th:case="false">Thanh toán khi nhận hàng</span>
                </p>
            </div>
        </ul>
    </div>
</div>
</body>
</html>