<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/account-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP</title>
</head>
<body>
<div layout:fragment="content" class="inner split order-detail">
    <div th:replace="fragments/general-account.html :: content-side"></div>

    <div class="split-main order-detail-main">
        <div class="order-detail-header">
            <a class="order-detail-header--back" href="#"><i class="fas fa-angle-left mr10"></i>Back</a>
            <p class="order-detail-header--id">
                <span>Order ID:</span>
                <span th:text="${order.id}">[Order Id]</span>
            </p>
            <p th:text="${order.statusOrder.name}" class="order-detail-header--status">[Order Status]</p>
        </div>
        <div class="order-detail-status">
            <div class="order-step">
                <div class="order-step--item success">
                    <p class="order-step--icon circle">
                        <i class="far fa-file-alt"></i>
                    </p>
                    <p class="order-step--status">Đơn hàng đã đặt</p>
                    <p class="order-step--time">11:14 11:11:2021</p>
                </div>
                <div class="order-step--item success">
                    <p class="order-step--icon circle">
                        <i class="fas fa-dollar-sign"></i>
                    </p>
                    <p class="order-step--status">Đơn hàng dã thanh toán ($99.99)</p>
                    <p class="order-step--time">11:14 11:11:2021</p>
                </div>
                <div class="order-step--item success">
                    <p class="order-step--icon circle">
                        <i class="fas fa-truck"></i>
                    </p>
                    <p class="order-step--status">Đang giao hàng</p>
                    <p class="order-step--time">11:14 11:11:2021</p>
                </div>
                <div class="order-step--item current">
                    <p class="order-step--icon circle">
                        <i class="fas fa-dolly-flatbed"></i>
                    </p>
                    <p class="order-step--status">Chờ xác nhận</p>
                    <p class="order-step--time">11:14 11:11:2021</p>
                </div>
                <div class="order-step--item">
                    <p class="order-step--icon circle">
                        <i class="far fa-star"></i>
                    </p>
                    <p class="order-step--status">Đánh giá</p>
                    <p class="order-step--time">11:14 11:11:2021</p>
                </div>
                <div class="order-step--item">
                    <p class="order-step--icon circle">
                        <i class="far fa-window-close"></i>
                    </p>
                    <p class="order-step--status">Đánh giá</p>
                    <p class="order-step--time">11:14 11:11:2021</p>
                </div>
            </div>
            <div class="order-detail-control">
                <button class="order-detail-control--btn btn btn__white">(Shop bấm trực tiếp status update status)
                    Save
                </button>
                <button class="order-detail-control--btn btn btn__white">Liên hệ người bán</button>
                <button class="order-detail-control--btn btn btn__white">Hủy đơn hàng</button>
            </div>
        </div>
        <div class="top-envelope"></div>
        <div class="order-detail-info">
            <p th:text="${order.user.name}" class="order-detail-info--name">[Order User Name]</p>
            <p class="order-detail-info--phone">0937441896</p>
            <p class="order-detail-info--address">99 wưsxng bw xrwc, Phường 9, Quận 9, TP. Hồ Chí Minh</p>
        </div>
        <div class="order-shop">
            <p class="order-shop--name">qw qpwoqw qwoqowpqpw</p>
            <button class="order-shop--btn order-shop--btn__visit btn btn__primary">
                <i class="fas fa-store"></i> Visit shop
            </button>
            <!-- <p class="order-shop--status">Status</p> -->
        </div>
        <ul class="order-detail-list">
            <li class="order-item">
                <p class="pic order-item--pic"><img src="/img/products/product_01.jpg"
                                                    alt=""></p>
                <div class="order-item--text">
                    <p class="order-item--name">Tpu Ốp Điện Thoại Cho Oppo A15 A54 A93 A94 A53 2020
                        A7 A3S A5 2020 A5S A12 A92 A31 A9 2020 Reno 4 Lite Reno 4 F 5 Lite 5f Find
                        X3Lite A15S F17 F19 Pro A33 2020 A11K A12 A1K A7 A72 A53</p>
                    <p class="order-item--category">Category: category-name</p>
                    <p class="order-item--quantity">x99</p>
                </div>
                <p class="order-item--price">$99</p>
            </li>
        </ul>
        <ul class="order-summary">
            <li class="order-summary--item">
                <p>Tổng tiền hàng</p>
                <p>$20.00</p>
            </li>
            <div class="order-summary--item">
                <p>Phí vận chuyển</p>
                <p>$5.00</p>
            </div>
            <div class="order-summary--item order-summary--item__total">
                <p>Tổng số tiền</p>
                <p>$25.00</p>
            </div>
            <div class="order-summary--item">
                <p>Phương thức thanh toán</p>
                <p>Thẻ tín dụng / ghi nợ</p>
            </div>
        </ul>
    </div>
</div>
</body>
</html>