<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/account-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP</title>
</head>
<body>
<div layout:fragment="content" class="inner split order">
    <div th:replace="fragments/general-account.html :: content-side"></div>

    <div class="split-main">
        <div class="order-section">
            <div class="order-content">
                <div class="order-shop">
                    <p class="order-shop--name">[Shop Name]</p>
                    <button class="order-shop--btn order-shop--btn__visit btn btn__primary">
                        <i class="fas fa-store"></i> Visit shop
                    </button>
                    <p class="order-shop--status">Status</p>
                </div>
                <div class="order-body">
                    <ul class="order-body--list">
                        <li class="order-item">
                            <p class="pic order-item--pic"><img src="/img/products/product_01.jpg"
                                                                alt=""></p>
                            <div class="order-item--text">
                                <p class="order-item--name">[Order Product Name]</p>
                                <p class="order-item--category">[Order Product Name]</p>
                                <p class="order-item--quantity">[Order Quantity]</p>
                            </div>
                            <p class="order-item--price">[Order Product Price]</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="order-submit">
                <p class="order-submit--total"><span>Total: </span><span>$99.99</span></p>
                <div class="order-submit--info">
                    <p class="order-submit--text">Bạn đã hủy</p>
                    <button class="order-submit--btn order-submit--btn btn btn__primary">Mua lại</button>
                    <button class="order-submit--btn order-submit--btn btn btn__primary">Đánh giá</button>
                    <button class="order-submit--btn btn btn__white">Liên hệ người bán</button>
                    <button class="order-submit--btn btn btn__white">Chi tiết đon hàng</button>
                </div>
            </div>
        </div>
        <div class="order-section">
            <div class="order-content">
                <div class="order-shop">
                    <p class="order-shop--name">qw qpwoqw qwoqowpqpw</p>
                    <button class="order-shop--btn order-shop--btn__visit btn btn__primary">
                        <i class="fas fa-store"></i> Visit shop
                    </button>
                    <p class="order-shop--status">Status</p>
                </div>
                <div class="order-body">
                    <ul class="order-body--list">
                        <li class="order-item">
                            <p class="pic order-item--pic"><img src="/img/products/product_01.jpg"
                                                                alt=""></p>
                            <div class="order-item--text">
                                <p class="order-item--name">Tpu Ốp Điện Thoại Cho Oppo A15 A54 A93 A94 A53 2020
                                    A7 A3S A5 2020 A5S A12 A92 A31 A9 2020 Reno 4 Lite Reno 4 F 5 Lite 5f Find
                                    X3Lite A15S F17 F19 Pro A33 2020 A11K A12 A1K A7 A72 A53</p>
                                <p class="order-item--category">Category: category-name</p>
                                <p class="order-item--quantity">x99</p>
                            </div>
                            <p class="order-item--price">$99</p>
                        </li>
                        <li class="order-item">
                            <p class="pic order-item--pic"><img src="/img/products/product_01.jpg"
                                                                alt=""></p>
                            <div class="order-item--text">
                                <p class="order-item--name">Tpu Ốp Điện Thoại Cho Oppo A15 A54 A93 A94 A53 2020
                                    A7 A3S A5 2020 A5S A12 A92 A31 A9 2020 Reno 4 Lite Reno 4 F 5 Lite 5f Find
                                    X3Lite A15S F17 F19 Pro A33 2020 A11K A12 A1K A7 A72 A53</p>
                                <p class="order-item--category">Category: category-name</p>
                                <p class="order-item--quantity">x99</p>
                            </div>
                            <p class="order-item--price">$99</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="order-submit">
                <p class="order-submit--total"><span>Total: </span><span>$99.99</span></p>
                <div class="order-submit--info">
                    <p class="order-submit--text">Bạn đã hủy</p>
                    <button class="order-submit--btn order-submit--btn btn btn__primary">Mua lại</button>
                    <button class="order-submit--btn order-submit--btn btn btn__primary">Đánh giá</button>
                    <button class="order-submit--btn btn btn__white">Liên hệ người bán</button>
                    <button class="order-submit--btn btn btn__white">Chi tiết đon hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>