<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/account-layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username + '- Đơn hàng'}"></title>
</head>
<body>
<div layout:fragment="content" class="inner split order">
    <div th:replace="fragments/general-account.html :: content-side"></div>

    <div class="split-main">
        <p th:if="${orders.size() == 0}" class="emptyText">Bạn hiện tại không có đơn hàng nào</p>
        <div th:each="order : ${orders}" class="order-section">
            <div class="order-content">
                <div class="order-shop">
                    <p th:text="${order.shop.name}" class="order-shop--name">[Shop Name]</p>
                    <a th:href="@{/shop/{id}(id = ${order.shop.id})}"
                       class="order-shop--btn order-shop--btn__visit btn btn__primary">
                        <i class="fas fa-store"></i> Ghé thăm shop
                    </a>
                    <p th:text="${order.currentStatus.name}" class="order-shop--status">[Order Status]</p>
                </div>
                <div class="order-body">
                    <ul class="order-body--list">
                        <li th:each="orderDetail : ${order.orderDetails}" class="order-item">
                            <p class="pic order-item--pic"><img th:src="${orderDetail.product.toUrl(orderDetail.product.image.get(0))}"
                                                                alt=""></p>
                            <div class="order-item--text">
                                <p th:text="${orderDetail.product.name}" class="order-item--name">[Order Product
                                    Name]</p>
                                <p th:text="${orderDetail.product.category.name}" class="order-item--category">[Order
                                    Product Category]</p>
                                <p th:attr="data-value=${orderDetail.quantity}"
                                   class="order-item--quantity">
                                    <span>x</span>
                                    <span th:text="${orderDetail.quantity}" class="jsQuantity">[Order Quantity]</span>
                                </p>
                            </div>
                            <p class="order-item--price">
                                <span class="jsPrice" th:attr="data-value=${orderDetail.lastPrice}"
                                      th:text="${#numbers.formatDecimal(orderDetail.lastPrice, 0, 'COMMA', 0, 'POINT')}">[Order Product Price]</span>
                                <span> vnđ</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="order-submit">
                <p class="order-submit--total">
                    <span>Total:</span>
                    <span th:text="${#numbers.formatDecimal(order.calTotal(), 0, 'COMMA', 0, 'POINT') + ' vnđ'}" class="jsTotal">[Total Order]</span>
                </p>
                <div class="order-submit--info">
                    <p class="order-submit--text mr-4">Bạn đã hủy</p>
                    <a href="javascript: void(0);" class="order-submit--btn btn btn__white">Liên hệ người bán</a>
                    <a th:href="@{/order/{id}(id = ${order.id})}" class="order-submit--btn btn btn__white">Chi tiết đon
                        hàng</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>