<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/account-layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username + ' - Order ' + order.id}"></title>
</head>
<body>
<div layout:fragment="content" class="inner split order-detail">
    <div th:replace="fragments/general-account.html :: content-side"></div>

    <div class="split-main order-detail-main">
        <div class="order-detail-header">
            <a class="order-detail-header--back jsBack" href="javascript: void(0)"><i
                    class="fas fa-angle-left mr10"></i>Back</a>
            <p class="order-detail-header--id">
                <span>Order ID:</span>
                <span th:text="${order.id}">[Order Id]</span>
            </p>
            <p th:text="${order.currentStatus.name}" class="order-detail-header--status">[Order Status]</p>
        </div>
        <div class="order-detail-status">
            <div class="order-step">
                <div class="order-step--item"
                     th:each="status: ${statusList}"
                     th:if="${(status.id != 2) || (status.id == 2 && order.methodPayment)}"
                     th:classappend="${order.currentStatus.id > status.id ? 'success' : (order.currentStatus.id == status.id ? 'current' : '')}">
                    <p class="order-step--icon circle">
                        <i th:class="${status.getIconUrl()}"></i>
                    </p>
                    <p class="order-step--status"
                       th:text="${order.currentStatus.id > status.id ? status.doneName : status.name}"></p>
                    <p th:if="${order.currentStatus.id > status.id}"
                       th:text="${#dates.format(statusMapStatusHistory.get(status.id).date, 'dd-MM-yyyy HH:mm')}"
                       class="order-step--time">[Order History Date]</p>
                </div>
            </div>
            <div class="order-detail-control">
                <button th:if="${canRate != null && canRate}"
                        data-id="rate-product" class="js-modal order-detail-control--btn btn btn__primary">Review
                </button>
                <button class="order-detail-control--btn btn btn__white">
                    Chat with shop
                </button>
                <button class="order-detail-control--btn btn btn__white">Decline Order</button>
            </div>
        </div>
        <div class="top-envelope"></div>
        <div th:with="withUser = ${order.user}" class="order-detail-info">
            <p th:text="${withUser.username}" class="order-detail-info--name">[User Name]</p>
            <p th:text="${withUser.phone}" class="order-detail-info--phone">[User Phone]</p>
            <p th:text="${order.address.getFullAddress()}"
               class="order-detail-info--address">[User Full Address]</p>
        </div>
        <div th:with="withShop = ${order.shop}" class="order-shop">
            <p th:text="${withShop.name}" class="order-shop--name">[Shop Name]</p>
            <a th:href="@{/shop/{id}(id=${withShop.id})}"
               class="order-shop--btn order-shop--btn__visit btn btn__primary">
                <i class="fas fa-store"></i> Go to store
            </a>
        </div>
        <ul class="order-detail-list">
            <li th:each="orderDetail : ${order.orderDetails}"
                th:with="withProduct = ${orderDetail.product}"
                class="order-item">
                <p class="pic order-item--pic"><img
                        th:src="${withProduct.image.size() > 0 ? withProduct.toUrl(withProduct.image.get(0)) : ''}"
                        alt=""></p>
                <div class="order-item--text">
                    <a th:href="@{/product/{id}(id=${withProduct.id})}"><p th:text="${withProduct.name}" class="order-item--name">[Product Name]</p></a>
                    <p class="order-item--category">
                        <span>Category:</span>
                        <span th:text="${withProduct.category.name}">[Category Name]</span>
                    </p>
                    <p class="order-item--quantity">
                        <span>x</span>
                        <span th:text="${orderDetail.quantity}">[Order Quantity]</span>
                    </p>
                </div>
                <p class="order-item--price">
                    <span th:text="${#numbers.formatDecimal(orderDetail.lastPrice, 0, 'COMMA', 0, 'POINT')}"></span>
                    <span> vnđ</span>
                </p>
            </li>
        </ul>
        <ul class="order-summary">
            <li class="order-summary--item">
                <p>Subtotal</p>
                <p>
                    <span th:text="${#numbers.formatDecimal(order.total.subtract(order.shippingCost), 0, 'COMMA', 0, 'POINT')}">
                        [Order Total]
                    </span>
                    <span> vnđ</span>
                </p>
            </li>
            <div class="order-summary--item">
                <p>Shipping cost</p>
                <p>
                    <span th:text="${#numbers.formatDecimal(order.shippingCost, 0, 'COMMA', 0, 'POINT')}">[Order Shipping]</span>
                    <span> vnđ</span>
                </p>
            </div>
            <div class="order-summary--item order-summary--item__total">
                <p>Total</p>
                <p>
                    <span th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 0, 'POINT')}">[Summary Total]</span>
                    <span>vnđ</span>
                </p>
            </div>
            <div class="order-summary--item">
                <p>Payment method</p>
                <p th:switch="${order.methodPayment}">
                    <span th:case="true">Credit / Debit Cards</span>
                    <span th:case="false">Ship COD</span>
                </p>
            </div>
        </ul>
    </div>
</div>

<div layout:fragment="modal" id="rate-product" class="modal2-container"
     th:classappend="${hasAnyError != null && hasAnyError} ? 'js-close' : ''">
    <form th:action="@{/rate/{id}(id=${order.id})}" method="post" class="modal2 modal2__cart-create">
        <h3 class="modal2-title">Rate this products</h3>
        <div class="modal2-list">
            <div th:each="orderDetail, iter : ${order.orderDetails}" class="modal2-item">
                <input type="hidden" class="jsIptStar" th:data-index="${iter.index}" th:name="${'rates['+ iter.index +'].star'}">
                <input type="hidden" th:name="${'productId['+ iter.index +']'}" th:value="${orderDetail.product.id}">
                <div class="modal2-item--product">
                    <img class="pic" th:src="${orderDetail.product.toUrl(orderDetail.product.image.get(0))}" alt="">
                    <p th:text="${orderDetail.product.name}"></p>
                </div>
                <span class="modal2-item--star icon icon__star">
                    <i data-index="1" class="far fa-star jsStar"></i>
                    <i data-index="2" class="far fa-star jsStar"></i>
                    <i data-index="3" class="far fa-star jsStar"></i>
                    <i data-index="4" class="far fa-star jsStar"></i>
                    <i data-index="5" class="far fa-star jsStar"></i>
                </span>
                <p class="mb-2 d-none error errorText" th:data-index="${iter.index}"></p>
                <textarea th:name="${'rates[' + iter.index +'].description'}" th:data-index="${iter.index}" rows="4" class="modal2-item--desc jsIptDesc"
                          placeholder="Please share your thoughts on this product"></textarea>
            </div>
        </div>
        <div class="modal2-footer">
            <button type="button" class="js-close modal2-footer--back btn btn__white">Back</button>
            <button class="modal2-footer--submit btn btn__primary">Submit</button>
        </div>
    </form>
</div>

<script layout:fragment="script">
    $('.jsStar').on('click', function () {
        const index = this.dataset.index;
        const list = $(this).parent();
        list.children().each((i, icon) => {
            if (icon.dataset.index <= index) {
                $(icon).removeClass('far').addClass('fas');
            } else {
                $(icon).removeClass('fas').addClass('far');
            }
        })

        const parent = $(this).parents('.modal2-item');

        parent.addClass('show');
        parent.find('.jsIptStar').val(index);
    })

    document.querySelector('.modal2__cart-create').addEventListener('submit', function (e) {
        e.preventDefault();

        let canSubmit = true;
        $('.errorText').addClass('d-none');

        $('.jsIptStar').each((index, item) => {
            const dataIndex = item.dataset.index;
            if (!item.value) {
                $(`.errorText[data-index="${dataIndex}"]`).text("Please fill the star before submit").removeClass('d-none');
                canSubmit = false;
            }
        });

        if(!canSubmit) return;

        $('.jsIptDesc').each((index, item) => {
            const dataIndex = item.dataset.index;
            if (!Boolean(item.value)) {
                $(`.errorText[data-index="${dataIndex}"]`).text("Share your thoughts about the product before submit").removeClass('d-none');
                canSubmit = false;
            }
        });

        if(!canSubmit) return;

        this.submit();
    })
</script>
</body>
</html>