<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/account-layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username + ' - Order'}"></title>
</head>
<body>
<div layout:fragment="content" class="inner split order">
    <div th:replace="fragments/general-account.html :: content-side"></div>

    <div class="split-main">
        <p th:if="${orders.size() == 0}" class="emptyText">You currently have no orders</p>
        <div th:each="order : ${orders}" class="order-section">
            <div class="order-content">
                <div class="order-shop">
                    <p th:text="${order.shop.name}" class="order-shop--name">[Shop Name]</p>
                    <a th:href="@{/shop/{id}(id = ${order.shop.id})}"
                       class="order-shop--btn order-shop--btn__visit btn btn__primary">
                        <i class="fas fa-store"></i> Go to store
                    </a>
                    <p th:text="${order.currentStatus.name}" class="order-shop--status">[Order Status]</p>
                </div>
                <div class="order-body">
                    <ul class="order-body--list">
                        <li th:each="orderDetail : ${order.orderDetails}" class="order-item">
                            <p class="pic order-item--pic"><img
                                    th:src="${orderDetail.product.toUrl(orderDetail.product.image.get(0))}"
                                    alt=""></p>
                            <div class="order-item--text">
                                <a th:href="@{/product/{id}(id=${orderDetail.product.id})}">
                                    <p th:text="${orderDetail.product.name}" class="order-item--name">[Order
                                        ProductName]</p>
                                </a>
                                <p th:text="${orderDetail.product.category.name}" class="order-item--category">[Order
                                    Product Category]</p>
                                <p th:attr="data-value=${orderDetail.quantity}"
                                   class="order-item--quantity">
                                    <span>x</span>
                                    <span th:text="${orderDetail.quantity}" class="jsQuantity">[Order Quantity]</span>
                                </p>
                            </div>
                            <p class="order-item--price">
                                <span class="jsPrice" th:attr="data-value=${orderDetail.lastPrice}"
                                      th:text="${#numbers.formatDecimal(orderDetail.lastPrice, 0, 'COMMA', 0, 'POINT')}">[Order Product Price]</span>
                                <span> vnđ</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="order-submit">
                <p class="order-submit--shipping">
                    <span>Shipping cost:</span>
                    <span th:text="${#numbers.formatDecimal(order.shippingCost, 0, 'COMMA', 0, 'POINT') + ' vnđ'}"
                          class="jsTotal">[Total Order]</span>
                </p>
                <p class="order-submit--total">
                    <span>Total:</span>
                    <span th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 0, 'POINT') + ' vnđ'}"
                          class="jsTotal">[Total Order]</span>
                </p>
                <div class="order-submit--info">
                    <!--                    <p class="order-submit&#45;&#45;text mr-4">Bạn đã hủy</p>-->
                    <a href="javascript: void(0);" class="order-submit--btn btn btn__white">Chat with shop</a>
                    <a th:href="@{/order/{id}(id = ${order.id})}" class="order-submit--btn btn btn__white">
                        Go to detail
                    </a>
                </div>
            </div>
        </div>
        <ul class="pagi detail-rate--pagi">
            <li class="pagi-item btn pagi-item__prev"
                th:classappend="${pagiView.index == 0 ? 'disabled' : ''}"
                th:data-page="${pagiView.prev}">
                <i class="fas fa-angle-left"></i>
            </li>
            <li th:each="pageNumber : ${pagiView.pagiList}"
                th:classappend="${pageNumber == pagiView.index ? 'active' : ''}"
                th:text="${pageNumber + 1}"
                th:data-page="${pageNumber}"
                class="pagi-item btn">
            </li>
            <li class="pagi-item btn pagi-item__prev"
                th:classappend="${pagiView.index == pagiView.total - 1 ? 'disabled' : ''}"
                th:data-page="${pagiView.next}">
                <i class="fas fa-angle-right"></i>
            </li>
        </ul>
    </div>
</div>

<script layout:fragment="script">
    $(function () {
        $('.pagi').on('click', '.pagi-item', function () {
            const page = this.dataset.page;
            const url = location.href;
            let newUrl = '';
            if (url.indexOf('page=') != -1) {
                newUrl = url.replace(/(?<=page\=)\d+/, page);
            } else {
                newUrl = url.charAt(url.length - 1) == '&' ? url : url + '?';
                newUrl += `page=${page}`;
            }
            location.href = newUrl;
        })
    });
</script>
</body>
</html>