<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
  <meta charset="UTF-8">
  <title>ShoPP</title>
</head>
<body>
<main layout:fragment="content">
    <div class="inner split account account__product">
        <div class="account-side split-side">
            <div class="account-head">
                <p class="pic circle account-head--avatar pic"><img src="/img/products/product_01.jpg"
                                                                    alt=""></p>
                <div class="account-head--text">
                    <p class="account-head--name">Uwu Bu Bu</p>
                    <p class="account-head--edit"><a href="#"><i class="icon fas fa-pencil-alt"></i>Edit profile</a>
                    </p>
                </div>
            </div>
            <ul class="account-body">
                <li class="account-body--item account-body--item__dropdown dropdown">
                    <a href="javascript: void(0)"><i class="icon icon__account fas fa-user"></i>My Account</a>
                    <ul class="dropdown-list">
                        <li class="dropdown-item"><a href="#">Profile</a></li>
                        <li class="dropdown-item"><a href="#">Change password</a></li>
                    </ul>
                </li>
                <li class="account-body--item"><a href="javascript: void(0)"><i
                        class="icon icon__order fas fa-file-invoice-dollar"></i>Orders</a>
                </li>
            </ul>
        </div>
        <div class="split-main split-main__form">
            <div class="split-header">
                <h2 class="split-header--title">Sản phẩm mới</h2>
                <p class="split-header--text">Thêm sản phẩm mới vào cửa hàng</p>
            </div>
            <form method="POST" class="account-form product-edit-form">
                <div class="account-form--left">
                    <div class="form-item">
                        <label class="form-item--left" for="name_product">Tên sản phẩm</label>
                        <div class="form-item--right">
                            <input type="text" name="name_product" id="name_product">
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-item--left" for="number">Giá sản phẩm</label>
                        <div class="form-item--right">
                            <input type="number" name="number" id="number">
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-item--left" for="gender">Phân loại</label>
                        <div class="form-item--right">
                            <div class="select">
                                <select name="" id="">
                                    <option value="">Chọn phân loại</option>
                                    <option value="01" selected>Option 01</option>
                                    <option value="02">Option 02</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-item--left" for="product features">Mô tả</label>
                        <textarea class="form-item--right" rows="6" cols="20"></textarea>
                    </div>
                    <div class="form-item">
                        <label class="form-item--left"></label>
                        <div class="form-item--right"><button type="submit" class="btn btn__primary">Lưu</button>
                        </div>
                    </div>
                </div>
                <div class="account-form--right">
                    <p class="circle pic account-form--pic account-form--pic__png">
                        <img src="/img/common/img_default_product.png" alt="">
                    </p>
                    <button class="btn btn__primary-outline account-form--update-btn">Choose picture</button>
                    <p class="account-form--pic-note">Dụng lượng file tối đa 1 MB<br>Định dạng:.JPEG, .PNG</p>
                    <div class="account-form--pic-list">
                        <img src="/img/products/product_01.jpg" alt="">
                        <img src="/img/products/product_02.jpg" alt="">
                        <img src="/img/products/product_03.jpg" alt="">
                        <img src="/img/products/product_01.jpg" alt="">
                        <img src="/img/products/product_02.jpg" alt="">
                        <img src="/img/products/product_03.jpg" alt="">
                    </div>
                    <p>Khúc này chắc cho max 10 tấm</p>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>