<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/account-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP</title>
</head>
<body>
<div layout:fragment="content" class="inner split account">
    <div th:replace="fragments/general-account.html :: content-side"></div>

    <div class="split-main shopping-main split-main__shopping-product">
        <div class="shopping-sort">
            <p>Sort by</p>
            <button class="btn shopping-sort--btn active">New</button>
            <button class="btn shopping-sort--btn">Selling</button>
            <div class="select shopping-sort--select">
                <select name="" id="">
                    <option value="">Price</option>
                    <option value="increase">Low to high</option>
                    <option value="decrease">High to low</option>
                </select>
            </div>
            <div class="pagi-simplify">
                <p>1/5</p>
                <button><i class="fas fa-angle-left"></i></button>
                <button><i class="fas fa-angle-right"></i></button>
            </div>
        </div>
        <div class="shopping-list product">
            <a href="#" class="product-item">
                <div class="product-item--picture">
                    <img src="/img/products/product_02.jpg" alt="">
                </div>
                <div class="product-item--content">
                    <p class="product-item--title">Bàn Phím Cơ Máy Tính Crack K2 PRO Led RGB 10 Chế Độ Khác
                        Nhau, Chơi Game Dùng Văn Phòng Cực Đã</p>
                    <p class="product-item--price">$ 99.99</p>
                    <p class="product-item--rate">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                    </p>
                    <p class="product-item--location">TP.HCM</p>
                </div>
            </a>
            <a href="#" class="product-item">
                <div class="product-item--picture">
                    <img src="/img/products/product_02.jpg" alt="">
                </div>
                <div class="product-item--content">
                    <p class="product-item--title">Bàn Phím Cơ Máy </p>
                    <p class="product-item--price">$ 99.99</p>
                    <p class="product-item--rate">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                    </p>
                    <p class="product-item--location">TP.HCM</p>
                </div>
            </a>
            <a href="#" class="product-item">
                <div class="product-item--picture">
                    <img src="/img/products/product_02.jpg" alt="">
                </div>
                <div class="product-item--content">
                    <p class="product-item--title">Bàn Phím Cơ Máy Tính Crack K2 PRO Led RGB 10 Chế Độ Khác
                        Nhau, Chơi Game Dùng Văn Phòng Cực Đã</p>
                    <p class="product-item--price">$ 99.99</p>
                    <p class="product-item--rate">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                    </p>
                    <p class="product-item--location">TP.HCM</p>
                </div>
            </a>
            <a href="#" class="product-item">
                <div class="product-item--picture">
                    <img src="/img/products/product_02.jpg" alt="">
                </div>
                <div class="product-item--content">
                    <p class="product-item--title">Bàn Phím Cơ Máy Tính Crack K2 PRO Led RGB 10 Chế Độ Khác
                        Nhau, Chơi Game Dùng Văn Phòng Cực Đã</p>
                    <p class="product-item--price">$ 99.99</p>
                    <p class="product-item--rate">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                    </p>
                    <p class="product-item--location">TP.HCM</p>
                </div>
            </a>
            <a href="#" class="product-item">
                <div class="product-item--picture">
                    <img src="/img/products/product_02.jpg" alt="">
                </div>
                <div class="product-item--content">
                    <p class="product-item--title">Bàn Phím Cơ Máy Tính Crack K2 PRO Led RGB 10 Chế Độ Khác
                        Nhau, Chơi Game Dùng Văn Phòng Cực Đã</p>
                    <p class="product-item--price">$ 99.99</p>
                    <p class="product-item--rate">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                    </p>
                    <p class="product-item--location">TP.HCM</p>
                </div>
            </a>
            <a href="#" class="product-item">
                <div class="product-item--picture">
                    <img src="/img/products/product_02.jpg" alt="">
                </div>
                <div class="product-item--content">
                    <p class="product-item--title">Bàn Phím Cơ Máy Tính Crack K2 PRO Led RGB 10 Chế Độ Khác
                        Nhau, Chơi Game Dùng Văn Phòng Cực Đã</p>
                    <p class="product-item--price">$ 99.99</p>
                    <p class="product-item--rate">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                    </p>
                    <p class="product-item--location">TP.HCM</p>
                </div>
            </a>
            <a href="#" class="product-item">
                <div class="product-item--picture">
                    <img src="/img/products/product_02.jpg" alt="">
                </div>
                <div class="product-item--content">
                    <p class="product-item--title">Bàn Phím Cơ Máy Tính Crack K2 PRO Led RGB 10 Chế Độ Khác
                        Nhau, Chơi Game Dùng Văn Phòng Cực Đã</p>
                    <p class="product-item--price">$ 99.99</p>
                    <p class="product-item--rate">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                    </p>
                    <p class="product-item--location">TP.HCM</p>
                </div>
            </a>
        </div>
        <div class="shopping-pagi">
            <ul class="pagi">
                <li class="pagi-item btn pagi-item__prev"><i class="fas fa-angle-left"></i></li>
                <li class="pagi-item btn active">1</li>
                <li class="pagi-item btn">2</li>
                <li class="pagi-item btn">3</li>
                <li class="pagi-item btn">4</li>
                <li class="pagi-item btn pagi-item__next"><i class="fas fa-angle-right"></i></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>