<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/account-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP</title>
</head>
<body>
<div layout:fragment="content" class="inner split account account__shop">
    <div th:replace="fragments/general-account.html :: content-side"></div>

    <div class="split-main split-main__form">
        <div class="split-header">
            <h2 class="split-header--title">Tạo Shop</h2>
            <p class="split-header--text">Đăng ký shop bán hàng</p>
        </div>
        <form method="POST" class="account-form shop-edit-form">
            <div class="account-form--left">
                <div class="form-item">
                    <label class="form-item--left" for="name_shop">Tên shop</label>
                    <div class="form-item--right">
                        <input type="text" name="name_shop" id="name_shop">
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left" for="number">Số điện thoại</label>
                    <div class="form-item--right">
                        <input type="text" name="number" id="number">
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left" for="address_shop">Địa chỉ shop</label>
                    <div class="form-item--right">
                        <div class="select">
                            <select name="" id="">
                                <option value="">Chọn địa chỉ</option>
                                <option value="01">Option 01</option>
                                <option value="02">Option 02</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left" for="number">Tài khoản</label>
                    <div class="form-item--right">
                        <div class="select">
                            <select name="" id="">
                                <option value="">Chọn tài khoản trong list tài khoản</option>
                                <option value="01">Option 01</option>
                                <option value="02">Option 02</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left" for="number">Tài khoản</label>
                    <div class="form-item--right">
                        <p class="text">Bạn chưa có tài khoản(địa chỉ) nào, <a class="link" href="#">Tạo mới</a></p>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left" for="describe_shop">Miêu tả shop</label>
                    <div class="form-item--right">
                        <textarea class="form-item--right" rows="3" cols="20"></textarea>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left"></label>
                    <div class="form-item--right">
                        <button type="submit" class="btn btn__primary">Lưu</button>
                    </div>
                </div>
            </div>
            <div class="account-form--right">
                <p class="circle pic account-form--pic account-form--pic__png">
                    <img src="/img/common/img_default_shop.png" alt="">
                </p>
                <button class="btn btn__primary-outline account-form--update-btn">Choose picture</button>
                <p class="account-form--pic-note">Dụng lượng file tối đa 1 MB<br>Định dạng:.JPEG, .PNG</p>
                <div class="account-form--pic-list account-form--pic-list__shop">
                    <img src="/img/products/product_04.jpg" alt="">
                    <img src="/img/products/product_02.jpg" alt="">
                </div>
                <p>Khúc này chắc cho max 2 tấm (1 tấm avatar shop, 1 tấm banner)</p>
            </div>
        </form>
    </div>
</div>
</body>
</html>