<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/account-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP</title>
</head>
<body>
<div layout:fragment="content" class="inner split account account__info">
    <div th:replace="fragments/general-account.html :: content-side"></div>

    <div class="split-main split-main__form">
        <div class="split-header">
            <h2 class="split-header--title">Hồ Sơ Của Tôi</h2>
            <p class="split-header--text">Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
        </div>
        <form th:action="@{/edit-account}" th:object="${account}" method="POST" class="account-form account-edit-form">
            <div class="account-form--left">
                <div class="form-item">
                    <label class="form-item--left" for="username">Tên đăng nhập</label>
                    <div class="form-item--right">
                        <p type="text" th:field="*{username}" readonly></p>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left" for="subName">Tên</label>
                    <div class="form-item--right">
                        <input type="text" th:field="*{subName}">
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left" for="email">Email</label>
                    <div class="form-item--right">
                        <input type="text" th:field="*{email}">
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left" for="number">Số điện thoại</label>
                    <div class="form-item--right">
                        <input type="text" th:field="*{phone}">
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left" for="gender">Giới tính</label>
                    <div class="form-item--right">
                         <input type="radio" id="html" name="fav_language" value="M">
                         <label for="html">Nam</label>
                         <input type="radio" id="css" name="fav_language" value="F">
                         <label for="html">Nữ</label>
                         <input type="radio" id="javascript" name="fav_language" value="O">
                         <label for="html">Khác</label>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left" for="gender">Năm Sinh</label>
                    <div class="form-item--right form-item--right__flex">
                        <div class="select">
                            <select name = "dd" id="day">
                            </select>
                        </div>
                        <div class="select">
                            <select name = "mm" onchange="change_month(this)" id="month">
                            </select>
                        </div>
                        <div class="select">
                            <select name = "yyyy" onchange="change_year(this)"> id="year">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left"></label>
                    <div class="form-item--right">
                        <button type="submit" class="btn btn__primary">Lưu</button>
                    </div>
                </div>
            </div>
            <div class="account-form--right">
                <p class="circle pic account-form--pic">
                    <img src="/img/common/img_default_user.png" alt="">
                </p>
                <button class="btn btn__primary-outline account-form--update-btn">Choose picture</button>
                <p class="account-form--pic-note">Dụng lượng file tối đa 1 MB<br>Định dạng:.JPEG, .PNG</p>
            </div>
        </form>
    </div>
</div>
<script>
    var Days = [31,28,31,30,31,30,31,31,30,31,30,31];// index => month [0-11]
    $(document).ready(function(){
        var option = '<option value="day">day</option>';
        var selectedDay="day";
        for (var i=1;i <= Days[0];i++){ //add option days
            option += '<option value="'+ i + '">' + i + '</option>';
        }
        $('#day').append(option);
        $('#day').val(selectedDay);

        var option = '<option value="month">month</option>';
        var selectedMon ="month";
        for (var i=1;i <= 12;i++){
            option += '<option value="'+ i + '">' + i + '</option>';
        }
        $('#month').append(option);
        $('#month').val(selectedMon);

        var option = '<option value="month">month</option>';
        var selectedMon ="month";
        for (var i=1;i <= 12;i++){
            option += '<option value="'+ i + '">' + i + '</option>';
        }
        $('#month2').append(option);
        $('#month2').val(selectedMon);

        var d = new Date();
        var option = '<option value="year">year</option>';
        selectedYear ="year";
        for (var i=1930;i <= d.getFullYear();i++){// years start i
            option += '<option value="'+ i + '">' + i + '</option>';
        }
        $('#year').append(option);
        $('#year').val(selectedYear);
    });
    function isLeapYear(year) {
        year = parseInt(year);
        if (year % 4 != 0) {
            return false;
        } else if (year % 400 == 0) {
            return true;
        } else if (year % 100 == 0) {
            return false;
        } else {
            return true;
        }
    }

    function change_year(select)
    {
        if( isLeapYear( $(select).val() ) )
        {
            Days[1] = 29;

        }
        else {
            Days[1] = 28;
        }
        if( $("#month").val() == 2)
        {
            var day = $('#day');
            var val = $(day).val();
            $(day).empty();
            var option = '<option value="day">day</option>';
            for (var i=1;i <= Days[1];i++){ //add option days
                option += '<option value="'+ i + '">' + i + '</option>';
            }
            $(day).append(option);
            if( val > Days[ month ] )
            {
                val = 1;
            }
            $(day).val(val);
        }
    }

    function change_month(select) {
        var day = $('#day');
        var val = $(day).val();
        $(day).empty();
        var option = '<option value="day">day</option>';
        var month = parseInt( $(select).val() ) - 1;
        for (var i=1;i <= Days[ month ];i++){ //add option days
            option += '<option value="'+ i + '">' + i + '</option>';
        }
        $(day).append(option);
        if( val > Days[ month ] )
        {
            val = 1;
        }
        $(day).val(val);
    }
</script>
</body>
</html>