<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/account-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP</title>
</head>
<body>
<div layout:fragment="content" class="inner split account account__info">
    <div th:replace="fragments/general-account.html :: content-side"></div>

    <div class="split-main split-main__form">
        <div class="split-header">
            <h2 class="split-header--title">Hồ Sơ Của Tôi</h2>
            <p class="split-header--text">Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
        </div>
        <form method="POST" class="account-form account-edit-form">
            <div class="account-form--left">
                <div class="form-item">
                    <label class="form-item--left" for="username">Tên đăng nhập</label>
                    <div class="form-item--right">
                        <input type="text" name="username" id="username">
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left" for="userinfo">Tên</label>
                    <div class="form-item--right">
                        <input type="text" name="userinfo">
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left" for="email">Email</label>
                    <div class="form-item--right">
                        <input type="text" name="email" id="email">
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left" for="number">Số điện thoại</label>
                    <div class="form-item--right">
                        <input type="text" name="number" id="number">
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left" for="gender">Giới tính</label>
                    <div class="form-item--right">
                        <div class="select">
                            <select name="" id="">
                                <option value="">Price</option>
                                <option value="01">Option 01</option>
                                <option value="02">Option 02</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left" for="gender">Giới tính</label>
                    <div class="form-item--right form-item--right__flex">
                        <div class="select">
                            <select name="" id="">
                                <option value="">Price</option>
                                <option value="01">Option 01</option>
                                <option value="02">Option 02</option>
                            </select>
                        </div>
                        <div class="select">
                            <select name="" id="">
                                <option value="">Price</option>
                                <option value="01">Option 01</option>
                                <option value="02">Option 02</option>
                            </select>
                        </div>
                        <div class="select">
                            <select name="" id="">
                                <option value="">Price</option>
                                <option value="01">Option 01</option>
                                <option value="02">Option 02</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label class="form-item--left"></label>
                    <div class="form-item--right">
                        <button type="submit" class="btn btn__primary">Lưu</button>
                    </div>
                </div>
            </div>
            <div class="account-form--right">
                <p class="circle pic account-form--pic">
                    <img src="/img/common/img_default_user.png" alt="">
                </p>
                <button class="btn btn__primary-outline account-form--update-btn">Choose picture</button>
                <p class="account-form--pic-note">Dụng lượng file tối đa 1 MB<br>Định dạng:.JPEG, .PNG</p>
            </div>
        </form>
    </div>
</div>
</body>
</html>