<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App Fragments</title>
</head>
<body>
<div th:fragment="content-side" class="account-side split-side">
    <div class="account-head">
        <p class="pic circle account-head--avatar pic"><img th:src="${user.toUrl(user.avatar)}"
                                                            alt=""></p>
        <div class="account-head--text">
            <p th:text="${user.username}" class="account-head--name">[User Name]</p>
            <p class="account-head--edit"><a href="/account"><i class="icon fas fa-pencil-alt"></i>Edit profile</a>
            </p>
        </div>
    </div>
    <ul class="account-body">
        <li class="account-body--item account-body--item__dropdown dropdown">
            <a href="javascript: void(0)"><i class="icon icon__account fas fa-user"></i>My Account</a>
            <ul class="dropdown-list">
                <th:block th:if="${user.provider == 'LOCAL'}">
                    <li class="dropdown-item"><a th:href="@{/change-password}">Change password</a></li>
                </th:block>
                <li class="dropdown-item"><a th:href="@{/account}">Profile</a></li>
                <li class="dropdown-item"><a th:href="@{/card}">Card</a></li>
                <li class="dropdown-item"><a th:href="@{/address}">Address</a></li>
            </ul>
        </li>
        <li class="account-body--item"><a th:href="@{/order}"><i
                class="icon icon__order fas fa-file-invoice-dollar"></i>Orders</a>
        </li>
    </ul>
</div>
</body>
</html>