<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App Fragments</title>
</head>
<body>
<div th:fragment="header" class="inner">
    <nav class="nav">
        <div class="nav-col__left nav-col">
            <a class="nav-col--item" href="#">Become a seller</a>
            <a class="nav-col--item" href="#">Seller channel</a>
        </div>
        <div class="nav-col__right nav-col">
            <a sec:authorize="isAuthenticated()" class="nav-col--item" href="javascript: void(0)">Notification</a>
            <a sec:authorize="isAuthenticated()" href="/account" class="nav-col--item nav-col--item__user">[[${#request.remoteUser}]]</a>
            <a sec:authorize="isAnonymous()" class="nav-col--item" th:href="@{/signup}">Register</a>
            <a sec:authorize="isAnonymous()" class="nav-col--item" th:href="@{/signin}">Login</a>
            <a sec:authorize="isAuthenticated()" class="nav-col--item" th:href="@{/logout}">Logout</a>
        </div>
    </nav>
    <div class="header-container">
        <a th:href="@{/}" class="icon header-logo">
            <img class="pic" src="/img/common/logo-white.png" alt="logo">
            <img class="txt" src="/img/common/logo-text-white.png" alt="P&P">
        </a>
        <div class="header-search">
            <form method="get" class="header-form" action="/">
                <input class="header-form--search" type="text" name="keyword" th:value="${param.keyword}">
                <button class="btn btn__primary header-form--submit" type="submit"><i
                        class="fas fa-search"></i></button>
            </form>
            <ul class="header-category">
                <li th:each="category : ${headerCategories}" class="header-category--item">
                    <a th:href="@{/?categoryId={id}(id=${category.id})}" th:text="${category.name}"></a>
                </li>
            </ul>
        </div>
        <a class="icon header-cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>
    </div>
</div>

<div th:fragment="footer" class="inner">
    <div class="footer-item footer-item__contact">
        <p class="footer-head">Contact & support</p>
        <p class="footer-item--line">Address: 590 CMNT, P3, Q10, TPHCM</p>
        <p class="footer-item--line">Tel: <a href="tel:1900-0000">1900-0000</a></p>
        <p class="footer-item--line">Email: <a
                href="mailto:phunguyen01997@gmail.com">phunguyen01997@gmail.com</a></p>
        <a class="footer-item--line" href="javascript: return void(0);">FAQ</a>
        <a class="footer-item--line" href="javascript: return void(0);">Request support</a>
        <a class="footer-item--line" href="javascript: return void(0);">Return Policy</a>
    </div>
    <div class="footer-item footer-item__payment">
        <p class="footer-head">Online Payment</p>
        <div class="footer-item--card">
            <p class="icon icon__visa"><img src="/img/common/icon-visa.png" alt=""></p>
            <p class="icon icon__master-card"><img src="/img/common/icon-master-card.png" alt=""></p>
        </div>
    </div>
    <div class="footer-item footer-item__connect">
        <p class="footer-head">Connect with us</p>
        <p class="footer-item--social">
            <a class="icon" href="javascript: return void(0);"><img src="/img/common/icon-fb.png" alt="Facebook"></a>
            <a class="icon" href="javascript: return void(0);"><img src="/img/common/icon-yt.png" alt="Youtube"></a>
            <a class="icon" href="javascript: return void(0);"><img src="/img/common/icon-zl.png" alt="Zalo"></a>
        </p>
    </div>
    <div class="footer-item footer-item__mobile">
        <p class="footer-head">Mobile Version</p>
        <div class="footer-item--mobile">
            <p class="icon icon__qr"><img src="/img/common/icon-qr.png" alt=""></p>
            <div class="">
                <a class="icon icon__store" href="javascript: return void(0);"><img src="/img/common/icon-gg-play.png"
                                                                                    alt=""></a>
                <a class="icon icon__store" href="javascript: return void(0);"><img src="/img/common/icon-apple.png"
                                                                                    alt=""></a>
            </div>
            </d>
        </div>
    </div>
</div>

<div></div>
</body>
</html>