<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="header">
    <div class="header-block header-block__left">
        <h1 class="header-block--logo">
            <img class="icon" src="/img/common/logo.png" alt="">
            <span class="txt">Trang chủ</span>
        </h1>
        <p class="header-block--angle"><i class="fas fa-angle-right"></i></p>
        <h2 class="header-block--text02" th:text="${portalHeaderNavi}"></h2>
    </div>
    <div class="header-block header-block__right">
        <p th:if="${shop != null && shop.id != null}" class="header-block--info">
            <span class="avatar"><img th:src="${shop.toUrl(shop.logo)}" alt=""></span>
            <span class="name" th:text="${shop.name}"></span>
        </p>
        <p class="header-block--noti"><i class="far fa-bell"></i></p>
        <p class="header-block--edu">
            <button class="btn btn__outline">ShoPP Edu</button>
        </p>
    </div>
</th:block>

<aside th:fragment="content-side" class="aside">
    <div class="aside-container">
        <p class="aside-title">
            Order management</p>
        <ul class="aside-list">
            <li class="aside-item"><a th:href='@{/portal/order}'>All orders</a></li>
<!--            <li class="aside-item"><a href='javascript: void(0)'>Đơn hủy</a></li>-->
<!--            <li class="aside-item"><a href='javascript: void(0)'>Trả hàng/Hoàn tiền</a></li>-->
        </ul>
    </div>
    <div class="aside-container">
        <p class="aside-title">Shop manager
        </p>
        <ul class="aside-list">
            <li class="aside-item"><a th:href='@{/portal/}'>Shop Information</a></li>
            <li class="aside-item"><a th:href='@{/portal/rate}'>Shop rates</a></li>
<!--            <li class="aside-item"><a href='javascript: void(0)'>Giao dịch</a></li>-->
<!--            <li class="aside-item"><a href='javascript: void(0)'>Địa chỉ</a></li>-->
        </ul>
    </div>
    <div class="aside-container">
        <p class="aside-title"> Product management</p>
        <ul class="aside-list">
            <li class="aside-item"><a th:href='@{/portal/product}'>All products</a></li>
            <li class="aside-item"><a th:href='@{/portal/product/create}'>Add new product</a></li>
        </ul>
    </div>
    <div class="aside-container">
        <p class="aside-title">Finance</p>
        <ul class="aside-list">
            <li class="aside-item"><a th:href='@{/portal/fund}'>Shop fund</a></li>
        </ul>
    </div>
</aside>
</body>
</html>