<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App Fragments</title>
</head>
<body>
<div th:fragment="header" class="inner">
    <nav class="nav">
        <div class="nav-col__left nav-col">
            <a class="nav-col--item" href="#">Become a seller</a>
            <a class="nav-col--item" href="#">Seller channel</a>
        </div>
        <div class="nav-col__right nav-col">
            <a class="nav-col--item" href="#">Notification</a>
            <a href="/edit" class="nav-col--item nav-col--item__user">
                <img th:src="" alt="">
                <p>[[${#request.remoteUser}]]</p>
            </a>
            <a sec:authorize="isAnonymous()" class="nav-col--item" th:href="@{/signup}">Sign Up</a>
            <a sec:authorize="isAnonymous()" class="nav-col--item" th:href="@{/signin}">Sign In</a>
            <a sec:authorize="isAuthenticated()" class="nav-col--item" th:href="@{/logout}">Log Out</a>
        </div>
    </nav>
    <div class="header-container">
        <a th:href="@{/}" class="icon header-logo">
            <img class="pic" src="/img/common/logo-white.png" alt="logo">
            <img class="txt" src="/img/common/logo-text-white.png" alt="P&P">
        </a>
        <div class="header-search">
            <form method="get" class="header-form">
                <input class="header-form--search" type="text" name="keyword" th:value="${param.keyword}">
                <button class="btn btn__primary header-form--submit" type="submit"><i
                        class="fas fa-search"></i></button>
            </form>
            <ul class="header-category">
                <li class="header-category--item"><a href="#">Vehicle</a></li>
                <li class="header-category--item"><a href="#">Media</a></li>
                <li class="header-category--item"><a href="#">Clothes</a></li>
                <li class="header-category--item"><a href="#">Service</a></li>
            </ul>
        </div>
        <a class="icon header-cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>
    </div>
</div>

<div th:fragment="footer" class="inner">
    <div class="footer-item footer-item__contact">
        <p class="footer-head">Liên hệ và hỗ trợ</p>
        <p class="footer-item--line">Địa chỉ: 590 CMNT, P3, Q10, TPHCM</p>
        <p class="footer-item--line">Hotline: <a href="tel:1900-0000">1900-0000</a></p>
        <p class="footer-item--line">Email: <a
                href="mailto:phunguyen01997@gmail.com">phunguyen01997@gmail.com</a></p>
        <a class="footer-item--line" href="javascript: return void(0);">FAQ</a>
        <a class="footer-item--line" href="javascript: return void(0);">Yêu cầu hỗ trợ</a>
        <a class="footer-item--line" href="javascript: return void(0);">Chính sách đổi trả</a>
    </div>
    <div class="footer-item footer-item__payment">
        <p class="footer-head">Thanh toán trực tuyến</p>
        <p class="icon icon__visa"><img src="/img/common/icon-visa.png" alt=""></p>
    </div>
    <div class="footer-item footer-item__connect">
        <p class="footer-head">Kết nối với chúng tôi</p>
        <p class="footer-item--social">
            <a class="icon" href="javascript: return void(0);"><img src="/img/common/icon-fb.png" alt="Facebook"></a>
            <a class="icon" href="javascript: return void(0);"><img src="/img/common/icon-yt.png" alt="Youtube"></a>
            <a class="icon" href="javascript: return void(0);"><img src="/img/common/icon-zl.png" alt="Zalo"></a>
        </p>
    </div>
    <div class="footer-item footer-item__mobile">
        <p class="footer-head">Phiên bản di động</p>
        <div class="footer-item--mobile">
            <p class="icon icon__qr"><img src="/img/common/icon-qr.png" alt=""></p>
            <div class="">
                <a class="icon icon__store" href="javascript: return void(0);"><img src="/img/common/icon-gg-play.png" alt=""></a>
                <a class="icon icon__store" href="javascript: return void(0);"><img src="/img/common/icon-apple.png" alt=""></a>
            </div>
            </d>
        </div>
    </div>
</div>

<div></div>
</body>
</html>