<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-layout}">
<head>
  <meta charset="UTF-8">
  <title>Quên mật khẩu</title>
</head>
<body>
<main layout:fragment="content-form" class="auth">
  <div class="inner">
    <div class="auth-container">
      <h1 class="auth-title">Forgot password</h1>
      <form th:action="@{/forgot-password}"  class="form" method="post">
        <p th:if="${sendEmail != null}"  th:text="${sendEmail}" class="error">Invalid value</p>
        <input class="auth--ipt auth--ipt__txt" type="email" placeholder="Input your email to reset password" name="email">
        <p th:if="${errorEmail != null}"  th:text="${errorEmail}" class="error">Invalid value</p>
        <button class="btn btn__red auth--ipt auth--ipt__submit" type="submit">Send</button>
      </form>
      <div class="auth-navi">
        <a href="#">Sign in</a>
        <a href="#">Forgot password ?</a>
      </div>
    </div>
  </div>
</main>
</body>
</html>