<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-layout}">
<head>
  <meta charset="UTF-8">
  <title>Cập nhật mật khẩu</title>
</head>
<body>
<main layout:fragment="content-form" class="auth">
  <div class="inner">
    <div class="auth-container">
      <h1 class="auth-title">Reset password</h1>
      <form th:action="@{/reset-password}"  class="form" method="post">
        <input type="hidden" name="token" th:value="${token}">
        <input class="auth--ipt auth--ipt__txt" type="password" name="newPassword" placeholder="New password">
        <input class="auth--ipt auth--ipt__txt" type="password" name="confirmPassword" placeholder="Confirm password">
        <p th:if="${status != null}"  th:text="${status}" class="error">Invalid value</p>
        <button class="btn btn__red auth--ipt auth--ipt__submit" type="submit">Reset</button>
      </form>
    </div>
  </div>
</main>
</body>
</html>