<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-layout}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div layout:fragment="content-form" class="auth-container">
    <h1 class="auth-title">Sign In</h1>
    <form th:action="@{/j_spring_security_check}" method="post" class="form">
        <input class="auth--ipt auth--ipt__txt" name="username" placeholder="Username">
        <input class="auth--ipt auth--ipt__txt" name="password" type="password" placeholder="Password">
        <button class="btn btn__red auth--ipt auth--ipt__submit" th:type="submit" th:value="Login">Login</button>
    </form>
    <div class="auth-navi">
        <a href="#">Sign up</a>
        <a href="#">Forgot password ?</a>
    </div>
</div>
</body>
</html>