<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-layout}">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<main layout:fragment="content-form" class="auth">
  <div class="inner">
    <div class="auth-container">
      <h1 class="auth-title">Sign Up</h1>
      <form th:action="@{/save-user}" th:object="${user}" method="POST" enctype="multipart/form-data" class="form">
        <input class="auth--ipt auth--ipt__txt" placeholder="Email" th:field="*{email}">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">Invalid value</p>
        <p th:if="${duplicate != null}" class="error" th:text="${duplicate}"></p>
        <input class="auth--ipt auth--ipt__txt" placeholder="Phone" th:field="*{phone}">
        <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error">Invalid value</p>
        <input class="auth--ipt auth--ipt__txt" type="text" placeholder="Username" th:field="*{username}">
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error">Invalid value</p>
        <input class="auth--ipt auth--ipt__txt" type="password" placeholder="Password" th:field="*{password}">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">Invalid value</p>
        <input class="auth--ipt auth--ipt__txt" type="file" name="pic">
        <button class="btn btn__red auth--ipt auth--ipt__submit" type="submit">Sign Up</button>
      </form>
      <div class="auth-navi">
        <a th:href="@{/signin}">Sign in</a>
        <a th:href="@{/forgot-password}">Forgot password ?</a>
      </div>
    </div>
  </div>
</main>
</body>
</html>