<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-layout}">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<main layout:fragment="content-form" class="auth">
    <div class="inner">
        <form th:action="@{/save-user}" th:object="${user}" method="POST" enctype="multipart/form-data"
              class="auth-container">
            <h1 class="auth-title">Sign Up</h1>
            <div class="form">
                <input class="auth--ipt auth--ipt__txt" placeholder="Email" th:field="*{email}" ty>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">Invalid value</p>
                <p th:if="${duplicate != null}" class="error" th:text="${duplicate}"></p>
                <input class="auth--ipt auth--ipt__txt" placeholder="Phone" th:field="*{phone}" maxlength="10">
                <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error">Invalid value</p>
                <input class="auth--ipt auth--ipt__txt" type="text" placeholder="Username" th:field="*{username}">
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error">Invalid value</p>
                <input class="auth--ipt auth--ipt__txt" type="password" placeholder="Password" th:field="*{password}" maxlength="8">
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">Invalid value</p>
                <button class="btn btn__red auth--ipt auth--ipt__submit" type="submit">Sign Up</button>
            </div>
            <div class="auth-navi">
                <div class="auth-navi--item auth-navi--item__system">
                    <a th:href="@{/signin}">Sign in</a>
                    <a th:href="@{/forgot}">Forgot password ?</a>
                </div>
                <div class="auth-navi--item auth-navi--item__social">
                    <a class="social" href="/oauth2/authorization/google">
                        <img class="icon" src="/img/common/icon-gg.png" alt="">
                        <span>Google</span>
                    </a>
                    <a class="social" href="/oauth2/authorization/facebook">
                        <img class="icon" src="/img/common/icon-fb.png" alt="">
                        <span>Facebook</span>
                    </a>
                </div>
            </div>
            <label for="pic">
                <img class="jsPic" src="/assets/img/common/icon_plus_blue.png" alt="Your Avatar">
                <input class="auth--ipt auth--ipt__txt" type="file" name="pic" id="pic">
            </label>
        </form>
    </div>
</main>
<script layout:fragment="script">
    $(function () {
        $('#pic').on('change', function () {
            console.log(this);
            const element = document.querySelector('.jsPic');
            if (this.files && this.files[0]) {
                console.log(this.files[0])
                readUrlImage(this.files[0], element);
            }
        });
    })
</script>
</body>
</html>