.portal {
    .fund {
        &-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &-info {
            @include flex($align: stretch, $justify: flex-start);
            border: 1px solid $color-bd;
            padding: 10px;
            margin-bottom: 26px;

            &>* {
                width: 50%;
            }

            &--left {
                .text {
                    color: $color-txt-grey;
                    margin-bottom: 16px;
                }

                .form {
                    @include flex($justify: flex-start);
                }

                .price {
                    font-size: 28px;
                    font-weight: bold;
                    margin-right: 16px;
                    color: #000;
                }

                .direct {
                    height: 40px;
                    padding: 0 20px;
                    border-radius: 2px;
                }
            }

            &--right {
                &-header {
                    @include flex($justify: space-between);
                    margin-bottom: 16px;

                    .text {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    .link {
                        color: $color-txt-link-default;
                    }
                }

                &-body {
                    @include flex($justify: flex-start);

                    &>*:nth-child(n + 2) {
                        margin-left: 16px;
                    }

                    .icon {
                        padding: 0 5px;
                        color: #fff;
                        font-size: 30px;
                        background-color: #DEDEDE;
                        border-radius: 4px;
                    }

                    .name {
                        span {
                            display: block;

                            &:first-child {
                                color: #000;
                                font-weight: bold;
                            }

                            &:last-child {
                                color: $color-txt-white-grey;
                            }
                        }
                    }

                    .more {
                        font-size: 18px;
                    }

                    .priority {
                        color: #00f7f7;
                        background-color: #eaffff;
                        border-radius: 2px;
                        font-weight: bold;
                        padding: 4px 6px;
                        margin-right: auto;
                    }
                }
            }
        }

        &-date {
            margin-bottom: 10px;
        }

        &-filter {
            @include flex($justify: flex-start, $align: stretch);
            border-bottom: 1px solid $color-bd;
            margin-bottom: 20px;

            &--item {
                background-color: #f6f6f6;
                color: #666;
                border-radius: 4px 4px 0 0;
                border: 1px solid $color-bd;
                height: 48px;
                line-height: 48px;
                padding: 0 20px;
                border-bottom: none;
                cursor: pointer;

                &:nth-child(n+ 2) {
                    margin-left: 4px;
                }

                &.active {
                    height: 49px;
                    margin-bottom: -1px;
                    border-bottom: 1px solid #fff;
                    background-color: #fff;
                    color: $color-primary01;
                    font-weight: bold;
                }
            }
        }

        &-table {
            border: 1px solid $color-bd;
            border-radius: 4px;
        }

        &-row {
            @include flex($justify: flex-start);
            height: 56px;

            &:nth-child(n+2) {
                border-top: 1px solid $color-bd;
            }

            &__header {
                font-weight: bold;
                background-color: #f6f6f6;
                height: 48px;
                text-align: center;
                border-top: none;

                .fund-row--item {
                    &__date {
                        text-align: left;
                    }
                }
            }

            &--item {
                flex-shrink: 0;
                padding: 0 20px;

                &:first-child {
                    padding-left: 40px;
                }

                &:last-child {
                    padding-right: 40px;
                }

                &__date {
                    width: 140px;
                }

                &__desc {
                    flex-grow: 1;
                    flex-shrink: 1;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                    color: #000;
                    font-weight: bold;
                }

                &__price {
                    width: 130px;
                }

                &__status {
                    width: 150px;
                    color: #000;
                }
            }
        }
    }
}