.portal {
    .rate {
        &-value {
            padding: 0 0 10px 0;
        }

        &-submit {
            height: 32px;
            width: 100px;
            margin-top: 10px;
            border-radius: 5px;
        }

        &-search {
            @include flex($align: center);
            margin-top: 20px;

            &-item {
                @include flex($justify: flex-start, $align: stretch);
                height: 30px;
                width: calc(33.3% - 30px);
                margin-right: 30px;

                label {
                    margin-right: 10px;
                    line-height: 30px;
                }

                input {
                    flex-grow: 1;
                }
            }
        }

        &-table {
            overflow: hidden;
            margin: 20px;

            &-header {}

            &-body {
                border: 1px solid rgba(0, 0, 0, 0.09);
                margin-top: 20px;
            }
        }

        &-row {
            @include flex($justify: flex-start, $align: stretch);
            padding: 12px 16px;
            cursor: pointer;

            &:hover {
                background-color: $color-bd;
            }

            &:nth-child(n+2) {
                border-top: 1px solid $color-bd;
            }

            &__header {
                background-color: #f6f6f6;
                color: $color-txt-white-grey;
                text-align: center;
            }

            &__body {
                padding: 0;
                display: block;
            }

            &--item {
                @include flex();
                padding: 0 8px;
                flex-shrink: 0;
                width: 50%;

                &:nth-child(n + 2) {
                    border-left: 1px solid $color-bd;
                }

                &:first-child {
                    padding-left: 0px;
                }

                &:last-child {
                    padding-right: 0px;
                }

                &__name {
                    flex-shrink: 1;
                    overflow: hidden;
                    flex-grow: 1;
                    justify-content: flex-start;

                    .pic {
                        flex-shrink: 0;
                        width: 60px;
                        height: 60px;
                        margin-right: 10px;
                    }

                    .text {
                        display: -webkit-box;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                }

                &__category {
                    width: 200px;
                }

                &__price {
                    width: 130px;
                }

                &__sale {
                    width: 55px;
                }
            }

            &--top {
                @include flex($justify: flex-start);
                height: 40px;
                background-color: #f3f2f2;
                color: #555;
                padding: 0 20px;

                .order {
                    margin-left: auto;
                }
            }

            &--content {
                @include flex($align: stretch);
                &-item{
                    width: 50%;
                    padding: 20px;

                    &__product{
                        @include flex();

                        .left {
                            display: block;
                            width: 60px;
                            height: 60px;
                            margin-right: 10px;
                        }

                        .name {
                            font-weight: bold;
                        }

                        .category {
                            color: $color-txt-white-grey;
                        }
                    }

                    &__rate {
                        border-left: 1px solid $color-bd;

                        .icon__star{
                            font-size: 17px;
                        }

                        .date{
                            color: $color-txt-white-grey;
                            font-size: 12px;
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }
}