<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP</title>
</head>
<body>
<main layout:fragment="content">
    <div class="inner cart cart__list">
        <div class="cart-header">
            <div class="cart-header-item cart-checkbox">
                <label for="check01" class="checkbox">
                    <i class="icon fas fa-check"></i>
                    <span></span>
                    <input id="check01" type="checkbox">
                </label>
            </div>
            <p class="cart-header-item cart-header-item__name">Sản phẩm</p>
            <p class="cart-header-item cart-w15">Đơn giá</p>
            <p class="cart-header-item cart-w15">Số lượng</p>
            <p class="cart-header-item cart-w10">Số tiền</p>
            <p class="cart-header-item cart-w10">Thao tác</p>
        </div>
        <div th:each="cart : ${cartList}" class="cart-section">
            <div class="cart-section-shop">
                <div class="cart-section-shop--checkbox cart-checkbox">
                    <label for="check02" class="checkbox">
                        <i class="icon fas fa-check"></i>
                        <span></span>
                        <input id="check02" type="checkbox">
                    </label>
                </div>
                <div class="cart-section-shop--info">
                    <p><span th:text="${cart.shop.name}"></span> <a href="javascript: void(0);"><i class="icon icon__right fas fa-comment-alt"></i></a></p>
                </div>
            </div>
            <ul class="cart-section-product">
                <li th:each="pc : ${cart.getProductCarts()}" class="cart-section-product--item">
                    <div class="cart-section-product--checkbox cart-checkbox">
                        <label for="check03" class="checkbox">
                            <i class="icon fas fa-check"></i>
                            <span></span>
                            <input id="check03" type="checkbox">
                        </label>
                    </div>
                    <a th:href="@{/product/{id}(id=${pc.product.id})}"   class="cart-section-product--img pic">
                        <img src="/img/products/product_02.jpg" alt="">
                    </a>
                    <a th:href="@{/product/{id}(id=${pc.product.id})}"
                       th:text="${pc.product.name}"
                       class="cart-section-product--name"></a>
                    <div class="cart-section-product--price cart-w15">
<!--                        <span class="strikethrough">$99.99</span>-->
                        <p>
                            <span th:text="${pc.product.price}"></span>
                            <span>vnđ</span>
                        </p>
                    </div>
                    <div class="cart-section-product--quantity cart-w15">
                            <span class="attachAdjust">
                                <input type="number" name="" value="1" min="1">
                            </span>
                    </div>
                    <div class="cart-section-product--total cart-w10">0 vnđ</div>
                    <form th:action="@{/product/{id}(id=${pc.product.id})}" th:method="delete" class="cart-section-product--action cart-w10">
                        <button class="btn btn__red">Xóa</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="cart-footer">
            <div class="cart-footer-block cart-footer-block__03">
                <div class="cart-footer-block--checkbox cart-checkbox">
                    <label for="check04" class="checkbox">
                        <i class="icon fas fa-check"></i>
                        <span></span>
                        <input id="check04" type="checkbox">
                    </label>
                </div>
                <a class="cart-footer-block--txt cart-footer-block--txt__delete" href="#">Xóa</a>
                <p class="cart-footer-block--txt cart-footer-block--txt__total">Tổng thanh toán (99 sản phẩm):</p>
                <p class="cart-footer-block--price">$12.323.123</p>
                <button class="btn btn__primary cart-footer-block--buy">Mua hàng</button>
            </div>
        </div>
    </div>
</main>
</body>
</html>