<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP</title>
</head>
<body>
<main layout:fragment="content">
    <div class="inner shopping">
        <div class="shopping-side">
            <p class="shopping-side--headline"><i class="icon fas fa-filter"></i>Filter</p>
            <div class="shopping-side--item">
                <p class="shopping-side--title">Locations</p>
                <ul class="shopping-side--content shopping-side--content__list-check">
                    <li class="">
                        <label for="location-01">
                            <input id="location-01" name="location" type="checkbox">
                            TP.HCM
                        </label>
                    </li>
                    <li class="">
                        <label for="location-02">
                            <input id="location-02" name="location" type="checkbox">
                            Hà nội
                        </label>
                    </li>
                </ul>
            </div>
            <div class="shopping-side--item">
                <p class="shopping-side--title">Price range</p>
                <form action="">
                    <div class="shopping-side--content shopping-side--content__price-range">
                        <input type="number" name="minPrice">
                        <span><i class="fas fa-exchange-alt"></i></span>
                        <input type="number" name="maxPrice">
                    </div>
                    <button class="jsClick btn btn__red" type="button">Áp dụng</button>
                </form>
            </div>
            <div class="shopping-side--item">
                <p class="shopping-side--title">Rate</p>
                <ul class="shopping-side--content shopping-side--content__list-rate">
                    <li class="jsClick">
                            <span class="icon icon__star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                    </li>
                    <li class="jsClick">
                            <span class="icon icon__star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        <span>Trở lên</span>
                    </li>
                    <li class="jsClick">
                            <span class="icon icon__star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        <span>Trở lên</span>
                    </li>
                    <li class="jsClick">
                            <span class="icon icon__star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        <span>Trở lên</span>
                    </li>
                    <li class="jsClick">
                            <span class="icon icon__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        <span>Trở lên</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="shopping-main">
            <div class="shopping-sort">
                <p>Sort by</p>
                <button data-value="NEW" class="jsSortBy btn shopping-sort--btn active">Mới</button>
                <button data-value="PRICE" class="jsSortBy btn shopping-sort--btn">Giá tiền</button>
                <div class="select shopping-sort--select">
                    <select name="sortDirection" id="">
                        <option value="false" selected>Low to high</option>
                        <option value="true">High to low</option>
                    </select>
                </div>
                <div class="pagi-simplify">
                    <p>1/5</p>
                    <button><i class="fas fa-angle-left"></i></button>
                    <button><i class="fas fa-angle-right"></i></button>
                </div>
            </div>
            <div class="shopping-list product">
                <a th:unless="${products == null || products.size() == 0}" th:each="item: ${products}" href="#"
                   class="product-item">
                    <div class="product-item--picture">
                        <img src="/img/products/product_03.jpg" alt="">
                    </div>
                    <div class="product-item--content">
                        <p th:text="${item.name}" class="product-item--title"></p>
                        <p class="product-item--price">$ 99.99</p>
                        <p class="product-item--rate">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                        </p>
                        <p class="product-item--location">TP.HCM</p>
                    </div>
                </a>
            </div>
<!--            <div class="shopping-pagi">-->
<!--                <ul class="pagi">-->
<!--                    <li class="pagi-item btn pagi-item__prev"><i class="fas fa-angle-left"></i></li>-->
<!--                    <li th:each="pageNumber : ${pageNumbers}"-->
<!--                        th:classappend="${page == pageNumber ? 'active' : ''}"-->
<!--                        class="pagi-item btn">-->
<!--                        <a th:href="@{/(page=${pageNumber})}"-->
<!--                           th:text="${pageNumber + 1}"></a>-->
<!--                    </li>-->
<!--                    <li class="pagi-item btn pagi-item__next"><i class="fas fa-angle-right"></i></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </div>
</main>
<script layout:fragment="script">
    $(function () {
        function getFilter() {
            const keyword = $('.header-form--search').val();
            const location = $('[name="location"]:checked').toArray().map(node => node.value);
            const minPrice = $('[name="minPrice"]').val();
            const maxPrice = $('[name="maxPrice"]').val();
            const sortBy = $('.jsSortBy.active').attr('data-value');
            const sortDirection = $('[name="sortDirection"]').val();
            return {keyword, location, minPrice, maxPrice, sortBy, sortDirection};
        }

        function handleEvent() {
            const filter = getFilter();
            console.log(filter);

            const queryParam = Object.keys(filter).reduce((str, key, index) => {
                const val = filter[key];
                if (!val) return str;
                if (Array.isArray(val)) {
                    console.log('array', key);
                } else str += `${key}=${val}&`;
                return str;
            }, '?');
            console.log(queryParam);
            location.replace(queryParam);
        }

        $('.jsClick').on('click', () => {
            handleEvent();
        })

        $('[name="location"]').on('change', () => {
            handleEvent();
        })

        $('.jsSortBy').on('click', function () {
            $('.jsSortBy').removeClass('active');
            $(this).addClass('active');
            handleEvent();
        })
    });
</script>
</body>
</html>