<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>Thanh toán</title>
    <th:block layout:flagment="style">
        <link rel="stylesheet" href="/css/index.css">
    </th:block>
</head>
<body>
<form th:action="@{/checkout}" th:object="${purchase}" th:method="POST" layout:fragment="content">
    <div class="inner pay">
        <div class="top-envelope"></div>
        <div class="pay-address">
            <p class="pay-address--title"><i class="icon icon__left fas fa-map-marker-alt"></i>Địa chỉ nhận hàng</p>
            <p th:if="${addresses.isEmpty()}">Bạn chưa có địa chỉ nào. <a class="" th:href="@{/address}">Thêm địa chỉ</a></p>
            <th:block th:unless="${addresses.isEmpty()}">
                <p class="pay-address--text">
                    <span th:text="${addresses.get(0).ownName}" class="name">[Address Name]</span>
                    <span th:text="${addresses.get(0).ownPhone}" class="phone">[Address Phone]</span>
                    <span th:text="${T(com.apt.p2p.common.StringProcessForView).getFullAddress(addresses.get(0))}"
                          class="number">[Address Full]</span>
                    <a class="change" href="#">Thay đổi</a>
                </p>
                <ul class="pay-address--change d-none">
                    <li th:each="address : ${addresses}" class="pay-address--change-item">
                        <label class="radio">
                            <input checked th:value="${address.id}" name="addressId" type="radio">
                            <div class="radio-show"></div>
                        </label>
                        <span th:text="${address.ownName}" class="name">[Address Name]</span>
                        <span th:text="${address.ownPhone}" class="phone">[Address Phone]</span>
                        <span th:text="${T(com.apt.p2p.common.StringProcessForView).getFullAddress(address)}" class="number">[Address Full]</span>
                    </li>
                    <li class="pay-address--change-item">
                        <button type="button" class="btn btn__primary jsAddressSubmit">Hoàn Thành</button>
                        <button type="button" class="btn btn__outline jsAddressBack">Trở lại</button>
                    </li>
                </ul>
            </th:block>
        </div>
        <div class="pay-cart">
            <div class="pay-cart-header">
                <p>Sản phẩm</p>
                <p>Số lượng</p>
                <p>Đơn giá</p>
                <p>Thành tiền</p>
            </div>
            <th:block th:each="shopCart : ${shopCarts}">
                <div class="pay-cart-shop">
                    <p th:text="${shopCart.shop.name}" class="pay-cart-shop--name">[Shop Name]</p>
                    <a class="pay-cart-shop--chat" href="javascript: void(0);"><i class="icon icon__left fas fa-comment-alt"></i>Chat
                        ngay</a>
                </div>
                <ul class="pay-cart-list">
                    <li th:each="productCart : ${shopCart.productCarts}" class="pay-cart-item">
                        <input type="hidden" name="cartIds[]" th:value="${productCart.cart.id}">
                        <div class="pay-cart-item--pic pic"><img src="/img/products/product_02.jpg" alt=""></div>
                        <p th:text="${productCart.product.name}" class="pay-cart-item--name">[Product Name]</p>
                        <p th:text="${productCart.product.price + ' vnđ'}" class="pay-cart-item--price">[Product Price]</p>
                        <p th:text="${productCart.cart.quantity}" class="pay-cart-item--quantity">[Cart Quantity]</p>
                        <p th:text="${(productCart.cart.quantity * productCart.product.price) + ' vnđ'}"
                           th:attr="data-total=${productCart.cart.quantity * productCart.product.price}"
                           class="pay-cart-item--total jsTotal">[Total: price x quantity]</p>
                    </li>
                </ul>
            </th:block>
            <div class="pay-cart-footer">
                <input class="pay-cart-footer--note" type="text" placeholder="Lưu ý cho người bán">
                <p class="pay-cart-footer--text">Tổng số tiền (<span class="jsCount">[Count]</span> sản phẩm)</p>
                <p class="pay-cart-footer--total jsSumTotal">[Total]</p>
            </div>
        </div>
        <div class="pay-submit">
            <div class="pay-submit-header">
                <p class="pay-submit-header--txt">Phương thức thanh toán</p>
                <button type="button" data-div="debit" class="jsMethod active pay-submit-header--btn btn btn__white">
                    Thẻ tín dụng/ghi nợ <i class="icon fas fa-check"></i>
                </button>
                <button type="button" data-div="cod" class="jsMethod pay-submit-header--btn btn btn__white">
                    Thanh toán khi nhận hàng <i class="icon fas fa-check"></i>
                </button>
            </div>
            <div class="pay-submit-body pay-submit-body__debit">
                <div class="pay-submit-body--left">
                    <p>Chọn thẻ</p>
                </div>
                <div class="pay-submit-body--right">
                    <div class="pay-submit-body--card-list">
                        <label th:each="creditCard : ${creditCards}" th:for="${creditCard.id}" class="pay-submit-body--card-item">
                            <div class="radio">
                                <input th:checked="${creditCardStat.index == 0}" th:value="${creditCard.id}" name="paymentId" th:id="${creditCard.id}" type="radio">
                                <div class="radio-show"></div>
                            </div>
                            <p class="pic">
                                <img th:src="${creditCard.imgUrl}" alt="">
                            </p>
                            <p th:text="${creditCard.number}" class="number">[Credit Card Number]</p>
                        </label>
                    </div>
                    <a th:href="@{/card}" class="btn btn__white pay-submit-body--card-order"><i
                            class="icon icon__left fas fa-plus"></i>Thẻ khác
                    </a>
                </div>
            </div>
            <div class="d-none pay-submit-body pay-submit-body__cod">
                <div class="pay-submit-body--left">
                    <p>Thanh toán khi nhận hàng</p>
                </div>
                <div class="pay-submit-body--right">
                    <p>Phí thu hộ: ₫0 VNĐ. Ưu đãi về phí vận chuyển (nếu có) áp dụng cả với phí thu hộ.</p>
                </div>
            </div>
            <div class="pay-submit-footer">
                <div class="pay-submit-footer--list">
                    <span class="pay-submit-footer--txt">Tổng tiền hàng</span>
                    <span class="pay-submit-footer--number jsSumTotal2"></span>
                    <span class="pay-submit-footer--txt">Phí vận chuyển</span>
                    <span class="pay-submit-footer--number jsShipping"></span>
                    <span class="pay-submit-footer--txt">Tổng thanh toán:</span>
                    <span class="pay-submit-footer--number pay-submit-footer--number__total jsSumTotal3"></span>
                </div>
                <div class="pay-submit-footer--final">
                    <p class="txt">Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo <a href="#">Điều khoản
                        Shopee</a></p>
                    <button type="submit" class="btn btn__primary">Đặt hàng</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script layout:fragment="script">
    function calTotal(){
        $('.jsSumTotal2').text(`${sumTotal} vnđ`);
        $('.jsSumTotal3').text(`${sumTotal} vnđ`);
    }

    const listTotal = $('.jsTotal');
    let sumTotal = 0;
    listTotal.each((index, item) => {
        sumTotal += parseFloat(item.dataset.total);
    })
    $('.jsSumTotal').add('.jsSumTotal2').text(`${sumTotal} vnđ`).attr('data-total', sumTotal);
    $('.jsCount').text(listTotal.length);

    $('.pay-address--text').on('click', '.change', function () {
        $('.pay-address--change').removeClass('d-none');
        $('.pay-address--text').addClass('d-none');
    })

    $('.jsAddressSubmit').on('click', function () {
        const currAddress = $('.pay-address--change-item .radio-show.active').parents('.pay-address--change-item')[0];
        const name = $(currAddress).find('.name').text();
        const number = $(currAddress).find('.number').text();
        $('.pay-address--text .name').text(name);
        $('.pay-address--text .number').text(number);
    })

    $('.jsAddressBack, .jsAddressSubmit').on('click', function () {
        $('.pay-address--change').addClass('d-none');
        $('.pay-address--text').removeClass('d-none');
    })

    $(`input[name="addressId"]`).on('change', function(){
        console.log($(`input[name="addressId"]:checked`).val());
    })

    $('.jsMethod').on('click', function () {
        $('.jsMethod').removeClass('active');
        $(this).addClass('active');

        $('.pay-submit-body').addClass('d-none');
        const div = this.dataset.div;
        $(`.pay-submit-body__${div}`).removeClass('d-none');
    })
</script>
</body>
</html>