<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>Thanh toán</title>
    <th:block layout:flagment="style">
        <link rel="stylesheet" href="/css/index.css">
    </th:block>
</head>
<body>
<main layout:fragment="content">
    <div class="inner pay">
        <div class="top-envelope"></div>
        <div class="pay-address">
            <p class="pay-address--title"><i class="icon icon__left fas fa-map-marker-alt"></i>Địa chỉ nhận hàng</p>
            <p class="pay-address--text">
                <span class="name">Nguyễn Bành Trần Võ 0999999999</span>
                <span class="number">99/99 XXX XXX XXX, Phường 11, Quận YYY YYYY, TP. Hồ Chí Minh</span>
                <a class="change" href="#">Thay đổi</a>
            </p>
        </div>
        <div class="pay-cart">
            <div class="pay-cart-header">
                <p>Sản phẩm</p>
                <p>Số lượng</p>
                <p>Đơn giá</p>
                <p>Thành tiền</p>
            </div>
            <div class="pay-cart-shop">
                <p class="pay-cart-shop--name">FOCALLURE.vn</p>
                <a class="pay-cart-shop--chat" href="#"><i class="icon icon__left fas fa-comment-alt"></i>Chat
                    ngay</a>
            </div>
            <ul class="pay-cart-list">
                <li class="pay-cart-item">
                    <div class="pay-cart-item--pic pic"><img src="/assets/img/products/product_02.jpg" alt=""></div>
                    <p class="pay-cart-item--name">Màn chụp tự bung đỉnh vuông Kiều Phi - Mẫu mùng chụp tự
                        bung người lớn chống muỗi gấp gọn tiện dụng</p>
                    <p class="pay-cart-item--price">$99.999.999</p>
                    <p class="pay-cart-item--quantity">99</p>
                    <p class="pay-cart-item--total">$99.999.999</p>
                </li>
                <li class="pay-cart-item">
                    <div class="pay-cart-item--pic pic"><img src="/assets/img/products/product_02.jpg" alt=""></div>
                    <p class="pay-cart-item--name">Màn chụp tự bung đỉnh vuông Kiều Phi - Mẫu mùng chụp tự
                        bung người lớn chống muỗi gấp gọn tiện dụng</p>
                    <p class="pay-cart-item--price">$99.999.999</p>
                    <p class="pay-cart-item--quantity">99</p>
                    <p class="pay-cart-item--total">$99.999.999</p>
                </li>
            </ul>
            <div class="pay-cart-footer">
                <input class="pay-cart-footer--note" type="text" placeholder="Lưu ý cho người bán">
                <p class="pay-cart-footer--text">Tổng số tiền (99 sản phẩm)</p>
                <p class="pay-cart-footer--total">$99.999.999</p>
            </div>
        </div>
        <div class="pay-submit">
            <div class="pay-submit-header">
                <p class="pay-submit-header--txt">Phương thức thanh toán</p>
                <button class="pay-submit-header--btn btn btn__white">Thẻ tín dụng/ghi nợ</button>
                <button class="pay-submit-header--btn btn btn__white">Thanh toán khi nhận hàng</button>
            </div>
            <div class="pay-submit-body pay-submit-body__debit">
                <div class="pay-submit-body--left">
                    <p>Chọn thẻ</p>
                </div>
                <div class="pay-submit-body--right">
                    <div class="pay-submit-body--card-list">
                        <label for="radioDemo01" class="pay-submit-body--card-item">
                            <div class="radio">
                                <input name="card-radio" id="radioDemo01" type="radio">
                                <div class="radio-show active"></div>
                            </div>
                            <p class="pic"><img src="/assets/img/common/icon-visa.png" alt=""></p>
                            <p class="number">9999 9999 9999</p>
                        </label>
                        <label for="radioDemo02" class="pay-submit-body--card-item">
                            <div class="radio">
                                <input name="card-radio" id="radioDemo02" type="radio">
                                <div class="radio-show"></div>
                            </div>
                            <p class="pic"><img src="/assets/img/common/icon-visa.png" alt=""></p>
                            <p class="number">9999 9999 9999</p>
                        </label>
                        <label for="radioDemo03" class="pay-submit-body--card-item">
                            <div class="radio">
                                <input name="card-radio" id="radioDemo03" type="radio">
                                <div class="radio-show"></div>
                            </div>
                            <p class="pic"><img src="/assets/img/common/icon-visa.png" alt=""></p>
                            <p class="number">9999 9999 9999</p>
                        </label>
                    </div>
                    <button class="btn btn__white pay-submit-body--card-order"><i
                            class="icon icon__left fas fa-plus"></i>Thẻ khác
                    </button>
                </div>
            </div>
            <div class="pay-submit-footer">
                <div class="pay-submit-footer--list">
                    <span class="pay-submit-footer--txt">Tổng tiền hàng</span>
                    <span class="pay-submit-footer--number">$99.999.999</span>
                    <span class="pay-submit-footer--txt">Phí vận chuyển</span>
                    <span class="pay-submit-footer--number">$99.999.999</span>
                    <span class="pay-submit-footer--txt">Tổng thanh toán:</span>
                    <span class="pay-submit-footer--number pay-submit-footer--number__total">$99.999.999</span>
                </div>
                <div class="pay-submit-footer--final">
                    <p class="txt">Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo <a href="#">Điều khoản
                        Shopee</a></p>
                    <button class="btn btn__primary">Đặt hàng</button>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>