<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP Tên product</title>
</head>
<body>
<main layout:fragment="content">
    <div class="inner detail">
        <div class="detail-primary">
            <div class="detail-picture">
                <div class="detail-picture--current pic">
                    <img src="assets/img/products/product_01.jpg" alt="">
                </div>
                <ul class="detail-picture--list">
                    <li class="detail-picture--item pic">
                        <img src="assets/img/products/product_01.jpg" alt="">
                    </li>
                    <li class="detail-picture--item pic">
                        <img src="assets/img/products/product_01.jpg" alt="">
                    </li>
                    <li class="detail-picture--item pic">
                        <img src="assets/img/products/product_01.jpg" alt="">
                    </li>
                    <li class="detail-picture--item pic">
                        <img src="assets/img/products/product_01.jpg" alt="">
                    </li>
                    <li class="detail-picture--item pic">
                        <img src="assets/img/products/product_01.jpg" alt="">
                    </li>
                    <li class="detail-picture--item pic">
                        <img src="assets/img/products/product_01.jpg" alt="">
                    </li>
                </ul>
            </div>
            <div class="detail-content">
                <h1 class="detail-content--title">Giá Đỡ Điện Thoại Xe Máy- Kẹp Điện Thoại Gắn Xe Máy C2 Chống Cướp
                    Cực Chắc Chắn</h1>
                <p class="detail-content--rate">
                        <span class="icon icon__star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                </p>
                <p class="detail-content--price">$ 99.99</p>
                <p class="detail-content--line">
                    <span class="detail-content--line-key">Quantity</span>
                    <span class="detail-content--line-value detail-content--line-value__quantity attachAdjust">
                            <input type="number" name="" value="1" min="1">
                        </span>
                </p>
                <div class="detail-content--button">
                    <button class="btn btn__primary-outline detail-content--button-cart"><i
                            class="fas fa-shopping-cart"></i><span>Add to Cart</span></button>
                    <button class="btn btn__primary detail-content--button-buy">Buy now</button>
                </div>
            </div>
        </div>
        <div class="detail-shop">
            <div class="detail-shop--picture pic">
                <img src="./assets/img/products/product_01.jpg" alt="">
            </div>
            <div class="detail-shop--content">
                <p class="detail-shop--content-title">Phú đẹp trai</p>
                <div class="detail-shop--content-btn">
                    <a href="#">
                        <button class="btn btn__primary-outline see">Shop Detail</button>
                    </a>
                </div>
            </div>
            <div class="detail-shop--description">
                <div class="detail-shop--description-item">
                    <p>Rate <span class="txt__primary">15.6K</span></p>
                </div>
                <div class="detail-shop--description-item">
                    <p>Products <span class="txt__primary">20</span></p>
                </div>
                <div class="detail-shop--description-item">
                    <p>Join at <span class="txt__primary">45 month</span></p>
                </div>
            </div>
        </div>
        <div class="detail-product">
            <h2 class="detail-product--title detail--title">Product Description</h2>
            <div class="detail-product--content">
                <p>Bdjab askjd asd jkasd ashdkjsadjhsakjd</p>
                <p> asjdkja sdk hsad kjasdjk asd ashdk</p>
                <p>asdlkasjdklasdlajsdkajsdlkjdlkasjdlkasjd</p>
                <hr>
                <p>ajsdjkahdjasdjkahjdhasjkda</p>
                <ul>
                    <li>asdlsad</li>
                    <li>akdjasdkashdj</li>
                    <li>asjd aslkd qioroi qfwoiu qwruiorw</li>
                </ul>
            </div>
        </div>
        <div class="detail-rate">
            <h2 class="detail-rate--headline detail--title">Product Review</h2>
            <div class="detail-rate--list">
                <div class="detail-rate--item">
                    <p class="pic detail-rate--pic"><img src="./assets/img/products/product_01.jpg"
                                                         alt=""></p>
                    <div class="detail-rate--content">
                        <p class="detail-rate--name">Bu Bu uWu</p>
                        <p class="detail-rate--star">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                        </p>
                        <p class="detail-rate--text">Đặt đồng hồ mặt tròn thì giao mặt HCN
                            Nhắn tin cho shop thì rep kiểu như :"ừ sai thì kệ mày". Nhắn kiểu ức chế lắm nha mặc
                            dù mình đang rất kiềm chế
                            Lúc đầu có rep sau thì onl cũng chả thèm trả lời 1 câu.Thà nói shop nhầm hay gì đó
                            thì mình cũng k trách đâu chứ k đến mức mà k thèm seen đâu ạ</p>
                        <p class="detail-rate--date">2021-11-06 14:59</p>
                    </div>
                </div>
                <div class="detail-rate--item">
                    <p class="pic detail-rate--pic"><img src="./assets/img/products/product_01.jpg"
                                                         alt=""></p>
                    <div class="detail-rate--content">
                        <p class="detail-rate--name">Bu Bu uWu</p>
                        <p class="detail-rate--star">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                        </p>
                        <p class="detail-rate--text">Đặt đồng hồ mặt tròn thì giao mặt HCN
                            Nhắn tin cho shop thì rep kiểu như :"ừ sai thì kệ mày". Nhắn kiểu ức chế lắm nha mặc
                            dù mình đang rất kiềm chế
                            Lúc đầu có rep sau thì onl cũng chả thèm trả lời 1 câu.Thà nói shop nhầm hay gì đó
                            thì mình cũng k trách đâu chứ k đến mức mà k thèm seen đâu ạ
                            Shop như cc
                        </p>
                        <p class="detail-rate--date">2021-11-06 14:59</p>
                    </div>
                </div>
                <div style="margin-top: 20px;">Pagination hoặc See more ở đây (tùy mày)</div>
            </div>
        </div>
    </div>
</main>
</body>
</html>