<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP Tên product</title>
</head>
<body>
<main layout:fragment="content">
    <div class="inner detail">
        <div class="detail-primary">
            <div class="detail-picture">
                <div class="detail-picture--current pic jsImageAccept"></div>
                <ul class="detail-picture--list jsSlick">
                    <li class="detail-picture--item pic jsImage"
                        th:each="image : ${product.image}">
                        <img th:src="${product.toUrl(image)}" alt="">
                    </li>
                </ul>
            </div>
            <form class="detail-content" th:action="@{/cart-add}" th:object="${addCartModel}" method="post">
                <input type="hidden" name="productId" th:value="${product.id}">
                <h1 th:text="${product.name}" class="detail-content--title">[Product Name]</h1>
                <p class="detail-content--rate">
                    <span class="icon icon__star">
                        <i class="fa-star"
                           th:each="i: ${#numbers.sequence(1, 5)}"
                           th:classappend="${i - 1 < product.averageRate ? 'fas' : 'far' }"></i>
                    </span>
                </p>
                <p class="detail-content--price"><span th:text="${product.price}">Price</span> <span>vnđ</span></p>
                <p class="detail-content--line">
                    <span class="detail-content--line-key">Quantity</span>
                    <span class="detail-content--line-value detail-content--line-value__quantity attachAdjust">
                        <input name="quantity" type="number" value="1" min="1">
                    </span>
                </p>
                <div class="detail-content--button">
                    <button type="submit" class="btn btn__primary-outline detail-content--button-cart"><i
                            class="fas fa-shopping-cart"></i><span>Thêm vào giỏ hàng</span></button>
                    <button type="button" class="btn btn__primary detail-content--button-buy">Mua ngay</button>
                </div>
            </form>
        </div>
        <div class="detail-shop">
            <div class="detail-shop--picture pic">
                <img th:src="${shop.toUrl(shop.logo)}" alt="">
            </div>
            <div class="detail-shop--content">
                <p th:text="${shop.name}" class="detail-shop--content-title">[Shop Name]</p>
                <div class="detail-shop--content-btn">
                    <a th:href="@{/shop/{id}(id=${shop.id})}">
                        <button class="btn btn__primary-outline see">Xem cửa hàng</button>
                    </a>
                </div>
            </div>
            <div class="detail-shop--description">
                <div class="detail-shop--description-item">
                    <p>Đánh giá <span th:text="${shop.countRates}" class="txt__primary">[Product Rate Count]</span>
                    </p>
                </div>
                <div class="detail-shop--description-item">
                    <p>Sản phẩm <span th:text="${shop.countProducts}"
                                      class="txt__primary">[Shop Rate Count]</span></p>
                </div>
                <div class="detail-shop--description-item">
                    <p>Ngày tham gia <span class="txt__primary" th:text="${shop.createdAt}">[Date attend]</span></p>
                </div>
            </div>
        </div>
        <div class="detail-product">
            <h2 class="detail-product--title detail--title">Thông tin sản phẩm</h2>
            <p th:utext="${product.description}" class="detail-product--content">
            </p>
        </div>
        <div class="detail-rate">
            <h2 class="detail-rate--headline detail--title">Đánh giá sản phẩm</h2>
            <div class="detail-rate--list">
                <!--                <div th:each="rateItem : ${rates}" class="detail-rate&#45;&#45;item">-->
                <!--                    <p class="pic detail-rate&#45;&#45;pic">-->
                <!--                        <img th:src="${rateItem.user.toUrl(rateItem.user.avatar)}" alt="">-->
                <!--                    </p>-->
                <!--                    <div class="detail-rate&#45;&#45;content">-->
                <!--                        <p class="detail-rate&#45;&#45;name" th:text="${rateItem.user.username}">[Rate name]</p>-->
                <!--                        <p class="detail-rate&#45;&#45;star">-->
                <!--                                <span class="icon icon__star">-->
                <!--                                    <i class="fa-star"-->
                <!--                                       th:each="i: ${#numbers.sequence(1, 5)}"-->
                <!--                                       th:classappend="${i - 1 < rateItem.star ? 'fas' : 'far' }"></i>-->
                <!--                                </span>-->
                <!--                        </p>-->
                <!--                        <p th:text="${rateItem.description}" class="detail-rate&#45;&#45;text">[Rate Description]</p>-->
                <!--                        <p th:text="${rateItem.createdAt}" class="detail-rate&#45;&#45;date">[Rate Time]</p>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
            <ul class="pagi detail-rate--pagi">
<!--                <li class="pagi-item btn pagi-item__prev">-->
<!--                    <a href=""><i class="fas fa-angle-left"></i></a>-->
<!--                </li>-->
<!--                <li class="pagi-item btn active">-->
<!--                    <a href="">1</a>-->
<!--                </li>-->
<!--                <li class="pagi-item btn pagi-item__next">-->
<!--                    <a href=""><i class="fas fa-angle-right"></i></a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</main>
<script layout:fragment="script">
    $(function () {
        function setImage(element) {
            const src = $(element).children('img').attr('src');
            imageAccept.css('background-image', `url(${src})`);
            $('.jsImage').removeClass('active');
            $(element).addClass('active');
        }

        function toUrlImage(image) {
            return `/assets/users/${image}`;
        }

        function renderRating(star) {
            let result = ``;
            for (let i = 0; i < 5; i++) {
                result += `<i class="${i - 1 < star ? 'fas' : 'far'} fa-star"></i>`;
            }
            return result;
        }

        function setRates(input) {
            if(!input.rates.length){
                return;
            }
            let rateHtml = ``;
            input.rates.forEach(rate => {
                rateHtml += `<div class="detail-rate--item">`
                    + `<p class="pic detail-rate--pic">`
                    + `<img src="${toUrlImage(rate.user.avatar)}" alt="">`
                    + `</p>`
                    + `<div class="detail-rate--content">`
                    + `<p class="detail-rate--name">${rate.user.username}</p>`
                    + `<p class="detail-rate--star">`
                    + `<span class="icon icon__star">${renderRating(rate.star)}</span>`
                    + `</p>`
                    + `<p class="detail-rate--text">${rate.description}</p>`
                    + `<p class="detail-rate--date">${rate.createdAt}</p>`
                    + `</div>`
                    + `</div>`;
            })
            $('.detail-rate--list').html(rateHtml);

            let pagiHtml = ``;
            pagiHtml += `<li data-index="${input.prev}" class="pagi-item btn pagi-item__prev ${input.index == 0 ? 'disabled' : ''}"><i class="fas fa-angle-left"></i></li>`;
            input.pagiList.forEach(page => {
                pagiHtml += `<li data-index="${page}" class="pagi-item btn ${input.index == page ? 'active': ''}">${page + 1}</li>`;
            })
            pagiHtml += `<li data-index="${input.next}" class="pagi-item btn pagi-item__next ${input.index == input.total - 1 ? 'disabled': ''}"><i class="fas fa-angle-right"></i></li>`;

            $('.detail-rate--pagi').html(pagiHtml);
        }

        function fetchRates(page, isFirst) {
            const data = {
                page,
                size: 10,
            };

            $.ajax({
                url: `${window.location.protocol}//${window.location.host}/api/products/${productId}/rate`,
                cache: false,
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    setRates(response);
                    if(!isFirst){
                        $([document.documentElement, document.body]).animate({
                            scrollTop: $('.detail-rate').offset().top
                        }, 0);
                    }
                },
                error: function (xhr, error, response) {
                    console.log({xhr, error, response});
                },
            });
        }

        const productId = $('[name="productId"]').val();

        $('.jsSlick').slick({
            infinite: true,
            slidesToShow: 5,
            slidesToScroll: 1,
            centerMode: false,
            centerPadding: '60px',
        });

        let imageAccept = $('.jsImageAccept');
        setImage(document.querySelectorAll('.jsImage.slick-active')[0]);
        $('.jsImage').on('mouseenter', function () {
            setImage(this);
        })

        fetchRates(0, true);
        $('.detail-rate--pagi').on('click', '.pagi-item', function(){
            const currentIndex = $('.pagi-item.active').attr('data-index');
            const nextIndex = this.dataset.index;
            if(currentIndex == nextIndex) return;
            fetchRates(nextIndex, false);
        })
    });
</script>
</body>
</html>