<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>ShoPP Tên Shop</title>
</head>
<body>
<main layout:fragment="content">
    <div class="shopping-header">
        <div class="inner shopping-header-info">
            <div class="shopping-header-banner">
                <div class="shopping-header-banner--bg">
                    <img src="/img/products/product_01.jpg" alt="">
                </div>
                <div class="shopping-header-banner--block01">
                    <p class="pic circle shopping-header-banner--pic">
                        <img src="./img/products/product_03.jpg" alt="">
                    </p>
                    <div class="shopping-header-banner--name-container">
                        <h1 class="shopping-header-banner--name">Thế giới di động 1 cái tên shop thật dài</h1>
                        <span class="shopping-header-banner--onl">Online 99 phút trước</span>
                    </div>
                </div>
                <div class="shopping-header-banner--block02">
                    <button class="btn btn__transparent"><i class="icon icon__left fas fa-plus"></i>Theo
                        dõi
                    </button>
                    <button class="btn btn__transparent"><i
                            class="icon icon__left fas fa-comments"></i>Chat
                    </button>
                </div>
            </div>
            <ul class="shopping-header-list">
                <li class="shopping-header-item">
                    <span>Sản phẩm:</span>
                    <span>144</span>
                </li>
                <li class="shopping-header-item">
                    <span>Đang theo dõi:</span>
                    <span>99</span>
                </li>
                <li class="shopping-header-item">
                    <span>Tỉ lệ phản hồi chat:</span>
                    <span>86% (Trong Vài Giờ)</span>
                </li>
                <li class="shopping-header-item">
                    <span>Người theo dõi:</span>
                    <span>99</span>
                </li>
                <li class="shopping-header-item">
                    <span>Đánh giá:</span>
                    <span>4.9 (11,3k đánh giá)</span>
                </li>
                <li class="shopping-header-item">
                    <span>Tham gia</span>
                    <span>99 tháng trước</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="inner shopping">
        <div class="shopping-side">
            <p class="shopping-side--headline"><i class="icon fas fa-filter"></i>Category</p>
            <div class="shopping-side--item">
                <ul class="shopping-side--content shopping-side--content__list-name">
                    <li>
                        <i class="icon fas fa-caret-right"></i>
                        <a href="#">Omo</a>
                    </li>
                    <li>
                        <i class="icon fas fa-caret-right"></i>
                        <a href="#">Downy</a>
                    </li>
                    <li class="active">
                        <i class="icon fas fa-caret-right"></i>
                        <a href="#">Tide</a>
                    </li>
                    <li>
                        <i class="icon fas fa-caret-right"></i>
                        <a href="#">Honda</a>
                    </li>
                    <li>
                        <i class="icon fas fa-caret-right"></i>
                        <a href="#">Yamaha</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="shopping-main">
            <div class="shopping-sort">
                <p>Sort by</p>
                <button class="btn shopping-sort--btn active">New</button>
                <button class="btn shopping-sort--btn">Selling</button>
                <div class="select shopping-sort--select">
                    <select name="" id="">
                        <option value="">Price</option>
                        <option value="increase">Low to high</option>
                        <option value="decrease">High to low</option>
                    </select>
                </div>
                <div class="pagi-simplify">
                    <p>1/5</p>
                    <button><i class="fas fa-angle-left"></i></button>
                    <button><i class="fas fa-angle-right"></i></button>
                </div>
            </div>
            <div class="shopping-list product">
                <a href="#" class="product-item">
                    <div class="product-item--picture">
                        <img src="/img/products/product_02.jpg" alt="">
                    </div>
                    <div class="product-item--content">
                        <p class="product-item--title">Bàn Phím Cơ Máy Tính Crack K2 PRO Led RGB 10 Chế Độ Khác
                            Nhau, Chơi Game Dùng Văn Phòng Cực Đã</p>
                        <p class="product-item--price">$ 99.99</p>
                        <p class="product-item--rate">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                        </p>
                        <p class="product-item--location">TP.HCM</p>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <div class="product-item--picture">
                        <img src="/img/products/product_02.jpg" alt="">
                    </div>
                    <div class="product-item--content">
                        <p class="product-item--title">Bàn Phím Cơ Máy </p>
                        <p class="product-item--price">$ 99.99</p>
                        <p class="product-item--rate">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                        </p>
                        <p class="product-item--location">TP.HCM</p>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <div class="product-item--picture">
                        <img src="/img/products/product_02.jpg" alt="">
                    </div>
                    <div class="product-item--content">
                        <p class="product-item--title">Bàn Phím Cơ Máy Tính Crack K2 PRO Led RGB 10 Chế Độ Khác
                            Nhau, Chơi Game Dùng Văn Phòng Cực Đã</p>
                        <p class="product-item--price">$ 99.99</p>
                        <p class="product-item--rate">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                        </p>
                        <p class="product-item--location">TP.HCM</p>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <div class="product-item--picture">
                        <img src="/img/products/product_02.jpg" alt="">
                    </div>
                    <div class="product-item--content">
                        <p class="product-item--title">Bàn Phím Cơ Máy Tính Crack K2 PRO Led RGB 10 Chế Độ Khác
                            Nhau, Chơi Game Dùng Văn Phòng Cực Đã</p>
                        <p class="product-item--price">$ 99.99</p>
                        <p class="product-item--rate">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                        </p>
                        <p class="product-item--location">TP.HCM</p>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <div class="product-item--picture">
                        <img src="/img/products/product_02.jpg" alt="">
                    </div>
                    <div class="product-item--content">
                        <p class="product-item--title">Bàn Phím Cơ Máy Tính Crack K2 PRO Led RGB 10 Chế Độ Khác
                            Nhau, Chơi Game Dùng Văn Phòng Cực Đã</p>
                        <p class="product-item--price">$ 99.99</p>
                        <p class="product-item--rate">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                        </p>
                        <p class="product-item--location">TP.HCM</p>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <div class="product-item--picture">
                        <img src="/img/products/product_02.jpg" alt="">
                    </div>
                    <div class="product-item--content">
                        <p class="product-item--title">Bàn Phím Cơ Máy Tính Crack K2 PRO Led RGB 10 Chế Độ Khác
                            Nhau, Chơi Game Dùng Văn Phòng Cực Đã</p>
                        <p class="product-item--price">$ 99.99</p>
                        <p class="product-item--rate">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                        </p>
                        <p class="product-item--location">TP.HCM</p>
                    </div>
                </a>
                <a href="#" class="product-item">
                    <div class="product-item--picture">
                        <img src="/img/products/product_02.jpg" alt="">
                    </div>
                    <div class="product-item--content">
                        <p class="product-item--title">Bàn Phím Cơ Máy Tính Crack K2 PRO Led RGB 10 Chế Độ Khác
                            Nhau, Chơi Game Dùng Văn Phòng Cực Đã</p>
                        <p class="product-item--price">$ 99.99</p>
                        <p class="product-item--rate">
                                <span class="icon icon__star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                        </p>
                        <p class="product-item--location">TP.HCM</p>
                    </div>
                </a>
            </div>
            <div class="shopping-pagi">
                <ul class="pagi">
                    <li class="pagi-item btn pagi-item__prev"><i class="fas fa-angle-left"></i></li>
                    <li class="pagi-item btn active">1</li>
                    <li class="pagi-item btn">2</li>
                    <li class="pagi-item btn">3</li>
                    <li class="pagi-item btn">4</li>
                    <li class="pagi-item btn pagi-item__next"><i class="fas fa-angle-right"></i></li>
                </ul>
            </div>
        </div>
    </div>
</main>
</body>
</html>