<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${shop.name}">ShoPP</title>
</head>
<body>
<main layout:fragment="content">
    <div class="shopping-header">
        <div class="inner shopping-header-info">
            <div class="shopping-header-banner">
                <div class="shopping-header-banner--bg">
                    <img th:src="${shop.toUrl(shop.background)}" alt="">
                </div>
                <div class="shopping-header-banner--block01">
                    <p class="pic circle shopping-header-banner--pic">
                        <img th:src="${shop.toUrl(shop.logo)}" alt="">
                    </p>
                    <div class="shopping-header-banner--name-container">
                        <h1 th:text="${shop.name}" class="shopping-header-banner--name">[Shop Name]</h1>
                        <span class="shopping-header-banner--onl">Online 99 minute ago</span>
                    </div>
                </div>
                <div class="shopping-header-banner--block02">
                    <button class="btn btn__transparent"><i class="icon icon__left fas fa-plus"></i>
                        Follow
                    </button>
                    <button class="btn btn__transparent"><i
                            class="icon icon__left fas fa-comments"></i>Chat
                    </button>
                </div>
            </div>
            <ul class="shopping-header-list">
                <li class="shopping-header-item">
                    <span>Products:</span>
                    <span th:text="${shop.countProducts}">[Product Count]</span>
                </li>
                <li class="shopping-header-item">
                    <span>Following:</span>
                    <span>[Following Count]</span>
                </li>
                <li class="shopping-header-item">
                    <span>Chat response rate:</span>
<!--                    <span></span>-->
                    <span>86% (At few hours)</span>
                </li>
                <li class="shopping-header-item">
                    <span>Follwers:</span>
                    <span>[Follow Count]</span>
                </li>
                <li class="shopping-header-item">
                    <span>Reviews:</span>
                    <span th:text="${shop.averageRates + ' (' + shop.countRates + ' amount)'}">[Rate]</span>
                </li>
                <li class="shopping-header-item">
                    <span>Join date</span>
                    <span th:text="${#dates.format(shop.createdAt, 'dd-MM-yyyy')}">[Attend Date]</span>
<!--                    99 tháng trước-->
                </li>
            </ul>
        </div>
    </div>
    <div class="inner shopping">
        <div class="shopping-side">
            <p class="shopping-side--headline"><i class="icon fas fa-filter"></i>Filter</p>
            <div class="shopping-side--item">
                <p class="shopping-side--title">Locations</p>
                <ul class="shopping-side--content shopping-side--content__list-check">
                    <li th:each="location, iter : ${locations}" class="">
                        <label th:for="${iter.index}">
                            <input th:id="${iter.index}" th:value="${location.provinceId}"
                                   th:checked="${filterModel.provinceId.contains(location.provinceId)}"
                                   name="location" type="checkbox">
                            <span th:text="${location.provinceName}"></span>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="shopping-side--item">
                <p class="shopping-side--title">Price range</p>
                <form action="">
                    <div class="shopping-side--content shopping-side--content__price-range">
                        <input type="number" name="minPrice" th:value="${param.minPrice}">
                        <span><i class="fas fa-exchange-alt"></i></span>
                        <input type="number" name="maxPrice" th:value="${param.maxPrice}">
                    </div>
                    <button class="jsClick btn btn__red" type="button">Apply</button>
                </form>
            </div>
            <div class="shopping-side--item">
                <p class="shopping-side--title">Rate</p>
                <ul class="shopping-side--content shopping-side--content__list-rate">
                    <select class="d-none" name="rate">
                        <option value="0" selected></option>
                        <option value="1" th:selected="${#httpServletRequest.getParameter('rate') == '1'}"></option>
                        <option value="2" th:selected="${#httpServletRequest.getParameter('rate') == '2'}"></option>
                        <option value="3" th:selected="${#httpServletRequest.getParameter('rate') == '3'}"></option>
                        <option value="4" th:selected="${#httpServletRequest.getParameter('rate') == '4'}"></option>
                        <option value="5" th:selected="${#httpServletRequest.getParameter('rate') == '5'}"></option>
                    </select>
                    <li class="jsRate" data-value="5"
                        th:classappend="${#httpServletRequest.getParameter('rate') == '5' ? 'active' : ''}">
                            <span class="icon icon__star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                    </li>
                    <li class="jsRate" data-value="4"
                        th:classappend="${#httpServletRequest.getParameter('rate') == '4' ? 'active' : ''}">
                            <span class="icon icon__star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        <span>Above</span>
                    </li>
                    <li class="jsRate" data-value="3"
                        th:classappend="${#httpServletRequest.getParameter('rate') == '3' ? 'active' : ''}">
                            <span class="icon icon__star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        <span>Above</span>
                    </li>
                    <li class="jsRate" data-value="2"
                        th:classappend="${#httpServletRequest.getParameter('rate') == '2' ? 'active' : ''}">
                            <span class="icon icon__star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        <span>Above</span>
                    </li>
                    <li class="jsRate" data-value="1"
                        th:classappend="${#httpServletRequest.getParameter('rate') == '1' ? 'active' : ''}">
                            <span class="icon icon__star">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        <span>Above</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="shopping-main">
            <div class="shopping-sort">
                <p>Sort by</p>
                <button data-value="NEW" class="jsSortBy btn shopping-sort--btn"
                        th:classappend="${(#httpServletRequest.getParameter('sortBy') == 'NEW' || #httpServletRequest.getParameter('sortBy') == null) ? 'active' : ''}">
                    New
                </button>
                <button data-value="PRICE" class="jsSortBy btn shopping-sort--btn"
                        th:classappend="${#httpServletRequest.getParameter('sortBy') == 'PRICE' ? 'active' : ''}">
                    Price
                </button>
                <div class="select shopping-sort--select">
                    <select name="sortDirection" id="">
                        <option value="true"
                                th:selected="${#httpServletRequest.getParameter('sortDirection') == 'true' || #httpServletRequest.getParameter('sortDirection') == null}">
                            Low to high
                        </option>
                        <option value="false"
                                th:selected="${#httpServletRequest.getParameter('sortDirection') == 'false'}">
                            High to low
                        </option>
                    </select>
                </div>
                <div class="pagi-simplify">
                    <p><span th:text="${pagiView.index + 1}"></span>/<span th:text="${pagiView.total}"></span></p>
                    <button><i class="fas fa-angle-left"></i></button>
                    <button><i class="fas fa-angle-right"></i></button>
                </div>
            </div>
            <div class="shopping-list product">
                <a th:unless="${products == null || products.size() == 0}" th:each="item: ${products}"
                   th:href="@{/product/{id}(id=${item.id})}"
                   class="product-item">
                    <div class="product-item--picture">
                        <img th:src="${item.image.size() > 0 ? item.toUrl(item.image.get(0)) : ''}" alt="">
                    </div>
                    <div class="product-item--content">
                        <p th:text="${item.name}" class="product-item--title"></p>
                        <p class="product-item--price">
                            <span th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT')}"></span>
                            <span>vnđ</span>
                        </p>
                        <p class="product-item--rate">
                            <span class="icon icon__star">
                                <i class="fa-star"
                                   th:each="i: ${#numbers.sequence(1, 5)}"
                                   th:classappend="${i - 1 < item.averageRate ? 'fas' : 'far' }"></i>
                            </span>
                        </p>
                        <p th:text="${item.shop.address.province}" class="product-item--location">[Location]</p>
                    </div>
                </a>
            </div>
            <div class="shopping-pagi">
                <ul class="pagi">
                    <li class="pagi-item btn pagi-item__prev"
                        th:classappend="${pagiView.index == 0 ? 'disabled' : ''}"
                        th:data-page="${pagiView.prev}">
                        <i class="fas fa-angle-left"></i>
                    </li>
                    <li th:each="pageNumber : ${pagiView.pagiList}"
                        th:classappend="${pageNumber == pagiView.index ? 'active' : ''}"
                        th:text="${pageNumber + 1}"
                        th:data-page="${pageNumber}"
                        class="pagi-item btn">
                    </li>
                    <li class="pagi-item btn pagi-item__prev"
                        th:classappend="${pagiView.index == pagiView.total - 1 ? 'disabled' : ''}"
                        th:data-page="${pagiView.next}">
                        <i class="fas fa-angle-right"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<script layout:fragment="script">
    $(function () {
        function getFilter() {
            const keyword = $('.header-form--search').val();
            const location = $('[name="location"]:checked').toArray().map(node => node.value);
            const minPrice = $('[name="minPrice"]').val();
            const maxPrice = $('[name="maxPrice"]').val();
            const sortBy = $('.jsSortBy.active').attr('data-value');
            const rate = $('select[name="rate"]').val() == 0 ? null : $('select[name="rate"]').val();
            const sortDirection = $('[name="sortDirection"]').val();
            return {keyword, provinceId: location, minPrice, maxPrice, sortBy, sortDirection, rate};
        }

        function handleEvent() {
            const filter = getFilter();
            console.log(filter);

            const queryParam = Object.keys(filter).reduce((str, key, index) => {
                const val = filter[key];
                if (!val) return str;
                if (Array.isArray(val)) {
                    str += `${key}=${val.join(",")}&`;
                } else str += `${key}=${val}&`;
                return str;
            }, '?');
            location.href = queryParam;
        }

        $('.jsRate').on('click', function () {
            const value = this.dataset.value;
            $('select[name="rate"]').val(value).change();
        })

        $('.jsClick').on('click', function () {
            handleEvent();
        })

        $('[name="location"]')
            .add('[name="sortDirection"]')
            .add('[name="rate"]').on('change', function () {
            handleEvent();
        })

        $('.jsSortBy').on('click', function () {
            $('.jsSortBy').removeClass('active');
            $(this).addClass('active');
            handleEvent();
        })

        $('.pagi').on('click', '.pagi-item', function(){
            const page = this.dataset.page;
            const url = location.href;
            let newUrl = '';
            if(url.indexOf('page=') != -1){
                newUrl = url.replace(/(?<=page\=)\d+/, page);
            }else{
                newUrl = url.charAt(url.length - 1) == '&' ? url : url + '?';
                newUrl += `page=${page}`;
            }
            location.href = newUrl;
        })
    });
</script>
</body>
</html>